In [1]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
#from scipy.stats import zscore
 
## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [ ]:
TimesHigher = pd.read_csv("data/TIMES_WorldUniversityRankings_2024.csv")
shanghaiRanking = pd.read_csv("data/shanghai_ranking_2024.csv")
df = pd.read_csv("data/univercity_ranking_2014_2024_CWUR.csv") # to store all data
WordRankUniversity = df[df['Year'] == 2024].reset_index()  # Filter by 2024

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

#### TimesHigher

- stats_number_students: The total number of students enrolled at the university.
- stats_student_staff_ratio: The ratio of students to academic staff, reflecting teaching capacity.
- stats_pc_intl_students: The percentage of international students enrolled, showing global

In [5]:
TimesHigher.head()

,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,...,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,disabled,website_url
0,1,University of Oxford,98.5,10,96.6,5,100.0,2,99.0,5,...,"21,750",10.9,42%,49 : 51,University of Oxford,"Geography,Chemistry,Chemical Engineering,Biolo...",False,False,False,https://www.timeshighereducation.com/student/r...
1,2,Stanford University,98.0,20,99.0,1,97.8,8,99.6,2,...,"14,517",6.4,23%,47 : 53,Stanford University,"Computer Science,Communication & Media Studies...",False,False,False,NaN
2,3,Massachusetts Institute of Technology,97.9,30,98.6,2,96.2,11,99.7,1,...,"11,085",8.0,33%,41 : 59,Massachusetts Institute of Technology,"Architecture,Economics & Econometrics,Archaeol...",False,False,False,https://www.timeshighereducation.com/student/r...
3,4,Harvard University,97.8,40,97.7,3,99.9,3,99.4,3,...,"20,050",9.0,25%,51 : 49,Harvard University,"Sociology,Architecture,Physics & Astronomy,Psy...",False,False,False,https://www.timeshighereducation.com/student/r...
4,5,University of Cambridge,97.5,50,95.8,7,100.0,1,98.0,12,...,"20,565",11.5,38%,48 : 52,University of Cambridge,Politics & International Studies (incl Develop...,False,False,False,https://www.timeshighereducation.com/student/r...

In [15]:
TimesHigher.columns

Index(['rank', 'name', 'scores_overall', 'scores_overall_rank',
       'scores_teaching', 'scores_teaching_rank', 'scores_research',
       'scores_research_rank', 'scores_citations', 'scores_citations_rank',
       'scores_industry_income', 'scores_industry_income_rank',
       'scores_international_outlook', 'scores_international_outlook_rank',
       'record_type', 'member_level', 'url', 'nid', 'location',
       'stats_number_students', 'stats_student_staff_ratio',
       'stats_pc_intl_students', 'stats_female_male_ratio', 'aliases',
       'subjects_offered', 'closed', 'unaccredited', 'disabled',
       'website_url'],
      dtype='object')

In [29]:
TimesHigher.shape

(2673, 29)

#### shanghaiRanking

- The global rank of the university


- University_Name
The name of the university or higher education institution being ranked.


- National/Regional Rank
The rank of the university within its respective country or region.


- Alumni
The score related to the number of alumni who have won Nobel Prizes or Fields Medals.


- Award
The score reflecting the number of staff at the university who have won Nobel Prizes in specified fields or Fields Medals.


- Hici
The score based on the number of Highly Cited Researchers affiliated with the university,


- N&S
The score representing the number of research articles published in Nature and Science between 2019 and 2023.


- PUB
The score indicating the number of papers published by the university in the Science Citation Index-Expanded™ (SCIE) and Social Science Citation Index™ (SSCI) during 2023.


- PCP
The Per Capita Performance score, calculated by dividing the weighted scores of the five indicators

In [30]:

shanghaiRanking.head()

,Rank,University_Name,National/Regional Rank,Alumni,Award,Hici,N&S,PUB,PCP
0,1,Harvard University,1,100.0,97.1,100.0,100.0,100.0,85.7
1,2,Stanford University,2,45.3,88.1,73.1,83.9,73.1,59.6
2,3,Massachusetts Institute of Technology (MIT),3,71.9,82.8,55.2,70.8,59.1,73.6
3,4,University of Cambridge,1,78.2,90.8,45.1,59.8,67.2,60.6
4,5,"University of California, Berkeley",4,65.3,76.5,46.9,62.8,57.1,55.5

In [33]:
shanghaiRanking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    1000 non-null   object
 1   University_Name         1000 non-null   object
 2   National/Regional Rank  1000 non-null   object
 3   Alumni                  1000 non-null   float64
 4   Award                   1000 non-null   float64
 5   Hici                    1000 non-null   float64
 6   N&S                     989 non-null    float64
 7   PUB                     1000 non-null   float64
 8   PCP                     1000 non-null   float64
dtypes: float64(6), object(3)
memory usage: 70.4+ KB

In [34]:
shanghaiRanking.shape

(1000, 9)

#### WordRankUniversity

In [43]:
del WordRankUniversity['index']
WordRankUniversity.head()

,World Rank,Institution,Location,Year,National Rank,Education Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1,Harvard University,USA,2024,1.0,1.0,1.0,1.0,1.0,100.0
1,2,Massachusetts Institute of Technology,USA,2024,2.0,4.0,12.0,2.0,12.0,96.8
2,3,Stanford University,USA,2024,3.0,10.0,4.0,3.0,2.0,95.2
3,4,University of Cambridge,United Kingdom,2024,1.0,3.0,26.0,4.0,14.0,94.1
4,5,University of Oxford,United Kingdom,2024,2.0,7.0,28.0,9.0,6.0,93.3

In [44]:
WordRankUniversity.shape

(1000, 10)

In [45]:
WordRankUniversity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   World Rank          1000 non-null   int64
 1   Institution         1000 non-null   object
 2   Location            1000 non-null   object
 3   Year                1000 non-null   int64
 4   National Rank       1000 non-null   float64
 5   Education Rank      1000 non-null   float64
 6   Employability Rank  1000 non-null   float64
 7   Faculty Rank        1000 non-null   float64
 8   Research Rank       1000 non-null   float64
 9   Score               1000 non-null   float64
dtypes: float64(6), int64(2), object(2)
memory usage: 78.2+ KB

#### We have 2000 Record and 9 columns:
- World Rank : This represents the overall rank of the university globally.
- University Names: The name of the university.
- Location: The country where the university is located.
- Educational Rank : A specific ranking based on the quality of education.
- Employability Rank: Measures how well the university prepares its graduates for employment. (مقياس مدى قابلية توظيف الخريجين)
- Faculty Rank: Reflects the quality and qualifications of the university's faculty members.(تصنيف مستوى واداء هيئة التدريس)
- Research Rank: Indicates the university’s performance in research activities.
- National Rank: The university's rank within its own country.
- Score: The overall score representing the university's performance across various criteria.

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

#### 1-TimesHigher DataSet

In [46]:
TimesHigher.head(3)

,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,...,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,disabled,website_url
0,1,University of Oxford,98.5,10,96.6,5,100.0,2,99.0,5,...,"21,750",10.9,42%,49 : 51,University of Oxford,"Geography,Chemistry,Chemical Engineering,Biolo...",False,False,False,https://www.timeshighereducation.com/student/r...
1,2,Stanford University,98.0,20,99.0,1,97.8,8,99.6,2,...,"14,517",6.4,23%,47 : 53,Stanford University,"Computer Science,Communication & Media Studies...",False,False,False,NaN
2,3,Massachusetts Institute of Technology,97.9,30,98.6,2,96.2,11,99.7,1,...,"11,085",8.0,33%,41 : 59,Massachusetts Institute of Technology,"Architecture,Economics & Econometrics,Archaeol...",False,False,False,https://www.timeshighereducation.com/student/r...

In [47]:
TimesHigher.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2673 entries, 0 to 2672
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   rank                               2673 non-null   object
 1   name                               2673 non-null   object
 2   scores_overall                     1904 non-null   object
 3   scores_overall_rank                2673 non-null   int64
 4   scores_teaching                    1904 non-null   float64
 5   scores_teaching_rank               2673 non-null   int64
 6   scores_research                    1904 non-null   float64
 7   scores_research_rank               2673 non-null   int64
 8   scores_citations                   1904 non-null   float64
 9   scores_citations_rank              2673 non-null   int64
 10  scores_industry_income             1904 non-null   float64
 11  scores_industry_income_rank        2673 non-null   int64
 12  scores_international_outlook       1904 non-null   float64
 13  scores_international_outlook_rank  2673 non-null   int64
 14  record_type                        2673 non-null   object
 15  member_level                       2673 non-null   int64
 16  url                                2673 non-null   object
 17  nid                                2673 non-null   int64
 18  location                           2673 non-null   object
 19  stats_number_students              2673 non-null   object
 20  stats_student_staff_ratio          2673 non-null   float64
 21  stats_pc_intl_students             2673 non-null   object
 22  stats_female_male_ratio            2580 non-null   object
 23  aliases                            2673 non-null   object
 24  subjects_offered                   2669 non-null   object
 25  closed                             2673 non-null   bool
 26  unaccredited                       2673 non-null   bool
 27  disabled                           2673 non-null   bool
 28  website_url                        344 non-null    object
dtypes: bool(3), float64(6), int64(8), object(12)
memory usage: 550.9+ KB

In [48]:
TimesHigher.describe(include='object')

,rank,name,scores_overall,record_type,url,location,stats_number_students,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,website_url
count,2673,2673,1904,2673,2673,2673,2673,2673,2580,2673,2669,344
unique,160,2673,159,3,2673,127,2574,85,91,2673,2567,344
top,Reporter,University of Oxford,9.7–22.7,master_account,/world-university-rankings/university-oxford,United States,"1,992",0%,55 : 45,University of Oxford,"Medicine & Dentistry,Other Health",https://www.timeshighereducation.com/student/r...
freq,769,1,395,2509,1,175,3,484,120,1,32,1

In [49]:
TimesHigher.describe(include='number')

,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,member_level,nid,stats_student_staff_ratio
count,2.673000e+03,1904.000000,2673.000000,1904.000000,2673.000000,1904.000000,2673.000000,1904.000000,2673.000000,1904.000000,2673.000000,2673.000000,2673.000000,2673.000000
mean,2.945872e+05,29.060662,678.473625,23.416176,678.473625,52.189706,678.473625,47.057405,678.473625,49.907143,678.473625,0.550318,437757.592593,19.130527
std,4.486570e+05,13.967201,633.450078,16.697923,633.450078,25.071342,633.450078,26.150454,633.450078,21.828249,633.450078,2.231166,292321.295190,13.450010
min,1.000000e+01,9.400000,0.000000,4.600000,0.000000,3.400000,0.000000,15.600000,0.000000,16.100000,0.000000,0.000000,466.000000,0.300000
25%,6.690000e+03,19.400000,0.000000,11.800000,0.000000,30.400000,0.000000,22.275000,0.000000,31.975000,0.000000,0.000000,131435.000000,12.300000
50%,1.337000e+04,25.800000,568.000000,17.250000,568.000000,52.400000,568.000000,41.050000,568.000000,45.300000,568.000000,0.000000,622251.000000,16.600000
75%,1.000101e+06,34.500000,1236.000000,29.900000,1236.000000,73.225000,1236.000000,68.200000,1236.000000,65.400000,1236.000000,0.000000,675423.000000,22.500000
max,1.000769e+06,99.000000,1904.000000,100.000000,1904.000000,99.700000,1904.000000,100.000000,1904.000000,98.800000,1904.000000,11.000000,726248.000000,333.300000

#### 2-shanghaiRanking Dataset

In [50]:
shanghaiRanking.head(3)

,Rank,University_Name,National/Regional Rank,Alumni,Award,Hici,N&S,PUB,PCP
0,1,Harvard University,1,100.0,97.1,100.0,100.0,100.0,85.7
1,2,Stanford University,2,45.3,88.1,73.1,83.9,73.1,59.6
2,3,Massachusetts Institute of Technology (MIT),3,71.9,82.8,55.2,70.8,59.1,73.6

In [51]:
shanghaiRanking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    1000 non-null   object
 1   University_Name         1000 non-null   object
 2   National/Regional Rank  1000 non-null   object
 3   Alumni                  1000 non-null   float64
 4   Award                   1000 non-null   float64
 5   Hici                    1000 non-null   float64
 6   N&S                     989 non-null    float64
 7   PUB                     1000 non-null   float64
 8   PCP                     1000 non-null   float64
dtypes: float64(6), object(3)
memory usage: 70.4+ KB

In [52]:
shanghaiRanking.describe(include='object')

            Rank     University_Name National/Regional Rank
count       1000                1000                   1000
unique        87                1000                    130
top     901-1000  Harvard University                      1
freq         100                   1                     60

In [53]:
shanghaiRanking.describe(include='number')

,Alumni,Award,Hici,N&S,PUB,PCP
count,1000.000000,1000.00000,1000.000000,989.000000,1000.000000,1000.000000
mean,4.509600,3.78120,10.734400,10.575126,35.113000,19.655300
std,10.103201,11.45538,10.949265,10.637247,13.684495,8.800436
min,0.000000,0.00000,0.000000,0.000000,9.300000,8.600000
25%,0.000000,0.00000,0.000000,3.900000,25.775000,14.100000
50%,0.000000,0.00000,9.200000,7.300000,31.700000,17.600000
75%,0.000000,0.00000,14.600000,13.300000,41.425000,23.000000
max,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000

#### 3-WordRankUniversity dataset

In [55]:
WordRankUniversity.head(3)

,World Rank,Institution,Location,Year,National Rank,Education Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1,Harvard University,USA,2024,1.0,1.0,1.0,1.0,1.0,100.0
1,2,Massachusetts Institute of Technology,USA,2024,2.0,4.0,12.0,2.0,12.0,96.8
2,3,Stanford University,USA,2024,3.0,10.0,4.0,3.0,2.0,95.2

In [56]:
WordRankUniversity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   World Rank          1000 non-null   int64
 1   Institution         1000 non-null   object
 2   Location            1000 non-null   object
 3   Year                1000 non-null   int64
 4   National Rank       1000 non-null   float64
 5   Education Rank      1000 non-null   float64
 6   Employability Rank  1000 non-null   float64
 7   Faculty Rank        1000 non-null   float64
 8   Research Rank       1000 non-null   float64
 9   Score               1000 non-null   float64
dtypes: float64(6), int64(2), object(2)
memory usage: 78.2+ KB

In [57]:
WordRankUniversity.describe(include='object')

               Institution Location
count                 1000     1000
unique                1000       63
top     Harvard University      USA
freq                     1      209

In [58]:
WordRankUniversity.describe(include='number')

,World Rank,Year,National Rank,Education Rank,Employability Rank,Faculty Rank,Research Rank,Score
count,1000.000000,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,2024.0,44.586000,447.949000,724.501000,245.608000,501.440000,75.601500
std,288.819436,0.0,52.659602,168.804287,349.520836,77.059357,290.392862,4.536597
min,1.000000,2024.0,1.000000,1.000000,1.000000,1.000000,1.000000,70.500000
25%,250.750000,2024.0,6.000000,385.750000,430.750000,277.250000,250.750000,72.200000
50%,500.500000,2024.0,22.000000,551.000000,1001.000000,284.000000,500.500000,74.350000
75%,750.250000,2024.0,61.250000,551.000000,1001.000000,284.000000,750.250000,77.800000
max,1000.000000,2024.0,209.000000,551.000000,1001.000000,284.000000,1001.000000,100.000000

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable. 


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

#### 2. Timeliness: 
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

#### 3. Consistency: 

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

#### 4. Relevance: 
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.

In [ ]:
# We will delete

#### 5. Uniqueness: 
Check for and remove duplicate records to prevent skewed analysis results.

#### shanghaiRanking

In [64]:
shanghaiRanking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    1000 non-null   object
 1   University_Name         1000 non-null   object
 2   National/Regional Rank  1000 non-null   object
 3   Alumni                  1000 non-null   float64
 4   Award                   1000 non-null   float64
 5   Hici                    1000 non-null   float64
 6   N&S                     989 non-null    float64
 7   PUB                     1000 non-null   float64
 8   PCP                     1000 non-null   float64
dtypes: float64(6), object(3)
memory usage: 70.4+ KB

In [65]:
# Check if there is a duplicated rows 
shanghaiRanking.duplicated().sum()

0

In [66]:
shanghaiRanking['University_Name'].duplicated().sum()

0

In [67]:
shanghaiRanking['Rank'].duplicated().sum()

913

In [73]:
# View all duplicated values and number of duplicates
shanghaiRanking[shanghaiRanking['Rank'].duplicated(keep=False)]['Rank'].value_counts()

901-1000    100
801-900     100
701-800     100
601-700     100
501-600     100
401-500     100
301-400     100
201-300     100
151-200      50
101-150      50
90            4
82            3
69            3
55            3
47            3
74            2
12            2
86            2
72            2
95            2
58            2
50            2
45            2
43            2
33            2
18            2
8             2
Name: Rank, dtype: int64

#### WordRankUniversity

In [74]:
WordRankUniversity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   World Rank          1000 non-null   int64
 1   Institution         1000 non-null   object
 2   Location            1000 non-null   object
 3   Year                1000 non-null   int64
 4   National Rank       1000 non-null   float64
 5   Education Rank      1000 non-null   float64
 6   Employability Rank  1000 non-null   float64
 7   Faculty Rank        1000 non-null   float64
 8   Research Rank       1000 non-null   float64
 9   Score               1000 non-null   float64
dtypes: float64(6), int64(2), object(2)
memory usage: 78.2+ KB

In [75]:
# Check if there is a duplicated rows 
WordRankUniversity.duplicated().sum()

0

In [76]:
# Check if there is a duplicated University Names
WordRankUniversity['Institution'].duplicated().sum()

0

In [77]:
# Check if there is a duplicated Ranking 
WordRankUniversity['World Rank'].duplicated().sum()

0

In [79]:
# Check if there is a duplicated Ranking National using Location and National Rank
WordRankUniversity[['Location','National Rank']].duplicated().sum()

0

In [80]:
# See what is the duplicated values
WordRankUniversity[WordRankUniversity['Employability Rank'].duplicated(keep=False)]['Employability Rank'].value_counts()

1001.0    511
Name: Employability Rank, dtype: int64

In [85]:
WordRankUniversity[WordRankUniversity['Faculty Rank'].duplicated(keep=False)]['Employability Rank'].value_counts()

1001.0    442
18.0        1
443.0       1
494.0       1
150.0       1
         ...
505.0       1
374.0       1
230.0       1
919.0       1
923.0       1
Name: Employability Rank, Length: 319, dtype: int64

In [86]:
WordRankUniversity[WordRankUniversity['Education Rank'].duplicated(keep=False)]['Employability Rank'].value_counts()

1001.0    413
806.0       1
652.0       1
82.0        1
155.0       1
         ...
696.0       1
938.0       1
578.0       1
609.0       1
30.0        1
Name: Employability Rank, Length: 221, dtype: int64

In [84]:
# View the count if - value is found in any column 
count_result = (WordRankUniversity == '-').sum()
count_result

World Rank            0
Institution           0
Location              0
Year                  0
National Rank         0
Education Rank        0
Employability Rank    0
Faculty Rank          0
Research Rank         0
Score                 0
dtype: int64

In [90]:

WordRankUniversity['Research Rank'].duplicated(keep=False).sum()

40

In [89]:
WordRankUniversity['Faculty Rank'].duplicated(keep=False).sum()

760

#### TimesHigher

In [92]:
TimesHigher.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2673 entries, 0 to 2672
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   rank                               2673 non-null   object
 1   name                               2673 non-null   object
 2   scores_overall                     1904 non-null   object
 3   scores_overall_rank                2673 non-null   int64
 4   scores_teaching                    1904 non-null   float64
 5   scores_teaching_rank               2673 non-null   int64
 6   scores_research                    1904 non-null   float64
 7   scores_research_rank               2673 non-null   int64
 8   scores_citations                   1904 non-null   float64
 9   scores_citations_rank              2673 non-null   int64
 10  scores_industry_income             1904 non-null   float64
 11  scores_industry_income_rank        2673 non-null   int64
 12  scores_international_outlook       1904 non-null   float64
 13  scores_international_outlook_rank  2673 non-null   int64
 14  record_type                        2673 non-null   object
 15  member_level                       2673 non-null   int64
 16  url                                2673 non-null   object
 17  nid                                2673 non-null   int64
 18  location                           2673 non-null   object
 19  stats_number_students              2673 non-null   object
 20  stats_student_staff_ratio          2673 non-null   float64
 21  stats_pc_intl_students             2673 non-null   object
 22  stats_female_male_ratio            2580 non-null   object
 23  aliases                            2673 non-null   object
 24  subjects_offered                   2669 non-null   object
 25  closed                             2673 non-null   bool
 26  unaccredited                       2673 non-null   bool
 27  disabled                           2673 non-null   bool
 28  website_url                        344 non-null    object
dtypes: bool(3), float64(6), int64(8), object(12)
memory usage: 550.9+ KB

In [93]:
# Check if there is a duplicated rows 
TimesHigher.duplicated().sum()

0

In [95]:
# Check if there is a duplicated University Name
TimesHigher['name'].duplicated().sum()

0

In [96]:
# Check if there is a duplicated Rank 
TimesHigher['rank'].duplicated().sum()

2513

In [98]:
TimesHigher[TimesHigher['rank'].duplicated(keep=False)]['rank'].value_counts()

Reporter     769
1501+        395
1201–1500    307
1001–1200    201
601–800      199
801–1000     198
501–600      102
401–500      102
251–300       52
351–400       50
201–250       49
301–350       48
=168           6
=193           5
=140           3
=199           3
=177           3
=161           3
=152           3
=155           3
=64            3
=87            3
=106           3
=111           3
=143           2
=145           2
=55            2
=92            2
=95            2
=97            2
=99            2
=103           2
=109           2
=116           2
=119           2
=191           2
=187           2
=185           2
=123           2
=175           2
=130           2
=164           2
=136           2
=158           2
=38            2
=138           2
=150           2
=30            2
Name: rank, dtype: int64

In [102]:
TimesHigher[TimesHigher['rank'] == 'Reporter']

,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,...,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,disabled,website_url
1904,Reporter,Abbes Laghrour University of Khenchala,NaN,1000001,NaN,0,NaN,0,NaN,0,...,"18,085",26.1,0%,70 : 30,Abbes Laghrour University of Khenchala,"Languages, Literature & Linguistics,Chemical E...",False,False,False,NaN
1905,Reporter,Abbottabad University of Science and Technology,NaN,1000002,NaN,0,NaN,0,NaN,0,...,"4,200",13.3,0%,31 : 69,Abbottabad University of Science and Technology,"Computer Science,Business & Management,Mathema...",False,False,False,NaN
1906,Reporter,Abdelhafid Boussouf University Center of Mila,NaN,1000003,NaN,0,NaN,0,NaN,0,...,"11,027",24.9,0%,72 : 28,Abdelhafid Boussouf University Center of Mila,"Geology, Environmental, Earth & Marine Science...",False,False,False,NaN
1907,Reporter,Abdullah Gül University,NaN,1000004,NaN,0,NaN,0,NaN,0,...,"2,944",22.5,9%,46 : 54,Abdullah Gül University,"Biological Sciences,Physics & Astronomy,Politi...",False,False,False,NaN
1908,Reporter,Abertay University,NaN,1000005,NaN,0,NaN,0,NaN,0,...,"4,205",23.4,21%,47 : 53,Abertay University,"Other Health,Business & Management,Art, Perfor...",False,False,False,https://www.timeshighereducation.com/student/r...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2668,Reporter,Zarqa University,NaN,1000765,NaN,0,NaN,0,NaN,0,...,"5,881",17.0,35%,60 : 40,Zarqa University,"General Engineering,Civil Engineering,Electric...",False,False,False,NaN
2669,Reporter,Zhetysu University,NaN,1000766,NaN,0,NaN,0,NaN,0,...,"4,872",18.2,0%,66 : 34,Zhetysu University,"History, Philosophy & Theology,Psychology,Lang...",False,False,False,NaN
2670,Reporter,Zhytomyr Polytechnic State University,NaN,1000767,NaN,0,NaN,0,NaN,0,...,"4,454",16.1,1%,40 : 60,Zhytomyr Polytechnic State University,"Law,Economics & Econometrics,Politics & Intern...",False,False,False,NaN
2671,Reporter,Ziane Achour University of Djelfa,NaN,1000768,NaN,0,NaN,0,NaN,0,...,"31,103",28.5,0%,55 : 45,Ziane Achour University of Djelfa,"Architecture,Agriculture & Forestry,Biological...",False,False,False,NaN
2672,Reporter,Ziauddin University,NaN,1000769,NaN,0,NaN,0,NaN,0,...,"5,672",9.2,0%,58 : 42,Ziauddin University,"Medicine & Dentistry,Other Health",False,False,False,NaN

In [257]:
# View the count if - value is found in any column 
count_result2 = (TimesHigher == '-').sum()
count_result2

Rank                              0
University Name                   0
ranking-institution-title href    0
Location                          0
sdg-score-multi__number           0
sdg-score-multi__value            0
sdg-score-multi__number 2         0
sdg-score-multi__value 2          0
sdg-score-multi__number 3         0
sdg-score-multi__value 3          0
sdg-score-multi__value 4          0
scores                            0
sdg-score-multi__number 5         0
sdg-score-multi__value 5          0
sdg-score-multi__number 6         0
sdg-score-multi__value 6          0
sdg-score-multi__number 7         0
sdg-score-multi__value 7          0
sdg-score-multi__number 8         0
sdg-score-multi__value 8          0
dtype: int64

In [265]:
# There is a duplicated 
TimesHigher[TimesHigher['scores'].duplicated(keep=False)]['scores'].describe(include='object')

count         1561
unique          34
top       7.9–53.8
freq           591
Name: scores, dtype: object

In [425]:
TimesHigher.sort_values('scores',ascending=False).head(20)

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__number 5,sdg-score-multi__value 5,sdg-score-multi__number 6,sdg-score-multi__value 6,sdg-score-multi__number 7,sdg-score-multi__value 7,sdg-score-multi__number 8,sdg-score-multi__value 8
0,1,Western Sydney University,https://www.timeshighereducation.com/world-uni...,Australia,5.0,80.3,12.0,93.4,15.0,96.7,98.8,99.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,University of Manchester,https://www.timeshighereducation.com/world-uni...,United Kingdom,15.0,97.4,12.0,92.9,11.0,92.2,94.8,97.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Queen’s University,https://www.timeshighereducation.com/world-uni...,Canada,2.0,90.6,16.0,93.4,11.0,91.0,92.6,97.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Universiti Sains Malaysia,https://www.timeshighereducation.com/world-uni...,Malaysia,16.0,94.1,2.0,86.4,1.0,84.9,97.8,96.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,University of Tasmania,https://www.timeshighereducation.com/world-uni...,Australia,13.0,92.8,15.0,96.2,14.0,95.1,96.3,96.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Arizona State University (Tempe),https://www.timeshighereducation.com/world-uni...,United States,15.0,95.4,14.0,93.9,6.0,87.6,81.9–86.9,96.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,=7,University of Alberta,https://www.timeshighereducation.com/world-uni...,Canada,9.0,99.4,2.0,89.2,15.0,91.0,94.4,96.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,=7,RMIT University,https://www.timeshighereducation.com/world-uni...,Australia,10.0,92.1,8.0,83.7,11.0,87.4,98.5,96.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,=9,University of Victoria,https://www.timeshighereducation.com/world-uni...,Canada,11.0,91.8,13.0,89.4,12.0,88.4,91.9,95.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,=9,Western University,https://www.timeshighereducation.com/world-uni...,Canada,9.0,97.7,1.0,88.0,8.0,78.6,81.9–86.9,95.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,=9,Aalborg University,https://www.timeshighereducation.com/world-uni...,Denmark,4.0,90.6,10.0,90.2,14.0,93.4,98.5,95.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,University of Auckland,https://www.timeshighereducation.com/world-uni...,New Zealand,15.0,95.0,5.0,75.8,9.0,93.3,92.2,95.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,University of Glasgow,https://www.timeshighereducation.com/world-uni...,United Kingdom,11.0,93.1,16.0,89.1,8.0,76.8,96.6,95.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,=14,Université Laval,https://www.timeshighereducation.com/world-uni...,Canada,2.0,88.5,12.0,90.7,15.0,94.5,93.7,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,=14,University of Technology Sydney,https://www.timeshighereducation.com/world-uni...,Australia,12.0,88.9,8.0,78.2,11.0,86.0,96.1,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,=14,Yonsei University (Seoul campus),https://www.timeshighereducation.com/world-uni...,South Korea,9.0,99.9,12.0,91.0,8.0,78.2,91.6,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,Chulalongkorn University,https://www.timeshighereducation.com/world-uni...,Thailand,9.0,99.0,3.0,88.1,8.0,74.4,95.6,94.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,=18,University of Exeter,https://www.timeshighereducation.com/world-uni...,United Kingdom,6.0,92.7,12.0,90.5,15.0,90.2,94.0,94.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,=18,UNSW Sydney,https://www.timeshighereducation.com/world-uni...,Australia,13.0,92.6,11.0,90.6,15.0,93.4,94.8,94.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,University of Indonesia,https://www.timeshighereducation.com/world-uni...,Indonesia,2.0,87.7,1.0,89.0,8.0,79.1,81.9–86.9,94.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [275]:
TimesHigher[TimesHigher['scores'].duplicated(keep=False)]['scores'].value_counts().sort_values(ascending=False)

7.9–53.8     591
59.7–66.7    205
66.9–72.6    199
53.9–59.6    195
72.7–76.7    100
76.8–82.1    100
82.2–88.2     99
89.2           5
91.9           4
89.0           4
89.5           4
95.8           3
91.8           3
95.0           3
92.9           3
89.7           3
88.3           3
91.2           3
91.3           3
90.8           3
92.1           2
94.5           2
93.5           2
93.4           2
92.6           2
92.5           2
90.5           2
90.7           2
89.8           2
89.6           2
96.4           2
88.6           2
89.4           2
90.3           2
Name: scores, dtype: int64

In [266]:
TimesHigher['Location'].duplicated().sum()

1480

In [273]:
TimesHigher[TimesHigher['Location'].duplicated()]['Location'].value_counts()

Turkey       78
Japan        77
Pakistan     71
India        65
Thailand     64
             ..
Israel        1
Argentina     1
Iceland       1
Macao         1
Mauritius     1
Name: Location, Length: 85, dtype: int64

In [66]:
# go to delete duplicates columns

#### 6. Completeness: 
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

In [ ]:
#Display number missing values per column

#### shanghaiRanking

In [285]:
shanghaiRanking.isnull().sum().sort_values(ascending = False)

Ranking                   0
University Name           0
National/Regional Rank    0
Total Score               0
LOGO                      0
University Detail         0
dtype: int64

#### WordRankUniversity

In [429]:
WordRankUniversity.isnull().sum().sort_values(ascending = False)

World Rank            0
University Names      0
Location              0
National Rank         0
Educational Rank      0
Employability Rank    0
Faculty Rank          0
Research Rank         0
Score                 0
dtype: int64

#### TimesHigher

In [430]:
TimesHigher.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591 entries, 0 to 1590
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            1591 non-null   object
 1   University Name                 1591 non-null   object
 2   ranking-institution-title href  1500 non-null   object
 3   Location                        1500 non-null   object
 4   sdg-score-multi__number         867 non-null    float64
 5   sdg-score-multi__value          867 non-null    object
 6   sdg-score-multi__number 2       826 non-null    float64
 7   sdg-score-multi__value 2        825 non-null    object
 8   sdg-score-multi__number 3       812 non-null    float64
 9   sdg-score-multi__value 3        805 non-null    object
 10  sdg-score-multi__value 4        1583 non-null   object
 11  scores                          1591 non-null   object
 12  sdg-score-multi__number 5       565 non-null    float64
 13  sdg-score-multi__value 5        557 non-null    object
 14  sdg-score-multi__number 6       498 non-null    float64
 15  sdg-score-multi__value 6        496 non-null    object
 16  sdg-score-multi__number 7       439 non-null    float64
 17  sdg-score-multi__value 7        439 non-null    object
 18  sdg-score-multi__number 8       483 non-null    float64
 19  sdg-score-multi__value 8        483 non-null    object
dtypes: float64(7), object(13)
memory usage: 248.7+ KB

In [428]:
TimesHigher.isnull().sum().sort_values(ascending = False)

sdg-score-multi__number 7         1152
sdg-score-multi__value 7          1152
sdg-score-multi__value 8          1108
sdg-score-multi__number 8         1108
sdg-score-multi__value 6          1095
sdg-score-multi__number 6         1093
sdg-score-multi__value 5          1034
sdg-score-multi__number 5         1026
sdg-score-multi__value 3           786
sdg-score-multi__number 3          779
sdg-score-multi__value 2           766
sdg-score-multi__number 2          765
sdg-score-multi__number            724
sdg-score-multi__value             724
ranking-institution-title href      91
Location                            91
sdg-score-multi__value 4             8
scores                               0
University Name                      0
Rank                                 0
dtype: int64

In [434]:

TimesHigher.fillna({'sdg-score-multi__number 7': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number 8': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number 6': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number 5': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number 3': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number 2': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number': '0'}, inplace=True)

In [438]:
TimesHigher.fillna({'sdg-score-multi__value 7': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 8': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 6': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 5': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 4': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 3': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 2': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value': 0}, inplace=True)

In [440]:
TimesHigher.fillna({'Location': 'Unknown'}, inplace=True)
TimesHigher.fillna({'ranking-institution-title href': 'Unknown'}, inplace=True)

In [441]:
TimesHigher.isnull().sum().sort_values(ascending = False)

Rank                              0
University Name                   0
sdg-score-multi__number 8         0
sdg-score-multi__value 7          0
sdg-score-multi__number 7         0
sdg-score-multi__value 6          0
sdg-score-multi__number 6         0
sdg-score-multi__value 5          0
sdg-score-multi__number 5         0
scores                            0
sdg-score-multi__value 4          0
sdg-score-multi__value 3          0
sdg-score-multi__number 3         0
sdg-score-multi__value 2          0
sdg-score-multi__number 2         0
sdg-score-multi__value            0
sdg-score-multi__number           0
Location                          0
ranking-institution-title href    0
sdg-score-multi__value 8          0
dtype: int64

In [ ]:
# go to clean them

In [68]:
# go to clean them

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

In [ ]:
# check columns types

In [447]:
WordRankUniversity.head()
df = WordRankUniversity.astype({'Employability Rank':int})
df2 = df[df['Employability Rank'] > 0 ]
df2.sort_values('Employability Rank').head(10)

,World Rank,University Names,Location,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
119,120Top 0.6%,INSEAD,France,6,0,2,0,1710,81.1
210,211Top 1.1%,Institut national du service public,France,11,0,3,0,0,78.5
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
273,274Top 1.4%,China Europe International Business School,China,32,0,5,0,0,77.3
12,13Top 0.1%,University of Tokyo,Japan,1,37,6,113,30,89.8
279,280Top 1.4%,HEC Paris,France,15,0,7,0,0,77.2
8,9Top 0.1%,University of Pennsylvania\n Education: A; Em...,USA,7,14,8,45,12,91.2
44,45Top 0.3%,Institut Polytechnique de Paris,France,5,102,9,188,370,85.1
405,406Top 2%,International Institute for Management Develop...,Switzerland,8,0,10,0,0,75.3

In [448]:
WordRankUniversity.head(10)

,World Rank,University Names,Location,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
1,2Top 0.1%,Massachusetts Institute of Technology\n Educa...,USA,2,4,12,3,9,96.7
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
3,4Top 0.1%,University of Cambridge\n Education: A+; Empl...,United Kingdom,1,3,25,5,11,94.1
4,5Top 0.1%,University of Oxford\n Education: A+; Employa...,United Kingdom,2,7,27,9,4,93.3
5,6Top 0.1%,Princeton University\n Education: A+; Employa...,USA,4,5,16,6,82,92.6
6,7Top 0.1%,University of Chicago\n Education: A+; Employ...,USA,5,8,15,22,28,92.1
7,8Top 0.1%,Columbia University\n Education: A+; Employab...,USA,6,12,14,10,13,91.6
8,9Top 0.1%,University of Pennsylvania\n Education: A; Em...,USA,7,14,8,45,12,91.2
9,10Top 0.1%,Yale University\n Education: A+; Employabilit...,USA,8,6,35,13,21,90.8

In [463]:
TimesHigher.head(10)

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__number 5,sdg-score-multi__value 5,sdg-score-multi__number 6,sdg-score-multi__value 6,sdg-score-multi__number 7,sdg-score-multi__value 7,sdg-score-multi__number 8,sdg-score-multi__value 8
0,1,Western Sydney University,https://www.timeshighereducation.com/world-uni...,Australia,5.0,80.3,12.0,93.4,15.0,96.7,98.8,99.4,0,0,0,0,0,0,0,0
1,2,University of Manchester,https://www.timeshighereducation.com/world-uni...,United Kingdom,15.0,97.4,12.0,92.9,11.0,92.2,94.8,97.5,0,0,0,0,0,0,0,0
2,3,Queen’s University,https://www.timeshighereducation.com/world-uni...,Canada,2.0,90.6,16.0,93.4,11.0,91.0,92.6,97.2,0,0,0,0,0,0,0,0
3,4,Universiti Sains Malaysia,https://www.timeshighereducation.com/world-uni...,Malaysia,16.0,94.1,2.0,86.4,1.0,84.9,97.8,96.9,0,0,0,0,0,0,0,0
4,5,University of Tasmania,https://www.timeshighereducation.com/world-uni...,Australia,13.0,92.8,15.0,96.2,14.0,95.1,96.3,96.6,0,0,0,0,0,0,0,0
5,6,Arizona State University (Tempe),https://www.timeshighereducation.com/world-uni...,United States,15.0,95.4,14.0,93.9,6.0,87.6,81.9–86.9,96.5,0,0,0,0,0,0,0,0
6,=7,University of Alberta,https://www.timeshighereducation.com/world-uni...,Canada,9.0,99.4,2.0,89.2,15.0,91.0,94.4,96.4,0,0,0,0,0,0,0,0
7,=7,RMIT University,https://www.timeshighereducation.com/world-uni...,Australia,10.0,92.1,8.0,83.7,11.0,87.4,98.5,96.4,0,0,0,0,0,0,0,0
8,=9,Aalborg University,https://www.timeshighereducation.com/world-uni...,Denmark,4.0,90.6,10.0,90.2,14.0,93.4,98.5,95.8,0,0,0,0,0,0,0,0
9,=9,University of Victoria,https://www.timeshighereducation.com/world-uni...,Canada,11.0,91.8,13.0,89.4,12.0,88.4,91.9,95.8,0,0,0,0,0,0,0,0

In [450]:
shanghaiRanking.head(10)

,Ranking,University Name,National/Regional Rank,Total Score,LOGO,University Detail,Ranking by Score
0,1,Harvard University,1,100.0,http://www.shanghairanking.com/_uni/logo/032bd...,http://www.shanghairanking.com/institution/har...,1
1,2,Stanford University,2,76.8,http://www.shanghairanking.com/_uni/logo/13de8...,http://www.shanghairanking.com/institution/sta...,2
2,3,Massachusetts Institute of Technology (MIT),3,70.1,http://www.shanghairanking.com/_uni/logo/79165...,http://www.shanghairanking.com/institution/mas...,3
3,4,University of Cambridge,1,69.6,http://www.shanghairanking.com/_uni/logo/8d986...,http://www.shanghairanking.com/institution/uni...,4
4,5,"University of California, Berkeley",4,65.3,http://www.shanghairanking.com/_uni/logo/0ff17...,http://www.shanghairanking.com/institution/uni...,5
5,6,Princeton University,5,60.0,http://www.shanghairanking.com/_uni/logo/b1dad...,http://www.shanghairanking.com/institution/pri...,6
6,7,University of Oxford,2,58.7,http://www.shanghairanking.com/_uni/logo/c1d96...,http://www.shanghairanking.com/institution/uni...,7
7,8,Columbia University,6,57.2,http://www.shanghairanking.com/_uni/logo/ce342...,http://www.shanghairanking.com/institution/col...,8
8,9,California Institute of Technology,7,56.1,http://www.shanghairanking.com/_uni/logo/c956f...,http://www.shanghairanking.com/institution/cal...,9
9,10,University of Chicago,8,55.1,http://www.shanghairanking.com/_uni/logo/b4f6e...,http://www.shanghairanking.com/institution/uni...,10

In [489]:
word_top10 = WordRankUniversity[['University Names','Score']].head(10)
times_higher_top10 = TimesHigher[['University Name ','scores']].head(10)
shanghai_top10 = shanghaiRanking[['University Name','Total Score']].head(10)

word_top10 = word_top10.rename(columns={"University Names": "University", "Score": "Word Rank Score"})
times_higher_top10 = times_higher_top10.rename(columns={"University Name ": "University", "scores": "Times Higher Score"})
shanghai_top10 = shanghai_top10.rename(columns={"University Name": "University", "Total Score": "Shanghai Score"})

merged_df = word_top10.merge(times_higher_top10, on="University", how="outer").merge(shanghai_top10, on="University", how="outer")

merged_df.fillna(merged_df.median(numeric_only=True), inplace=True)

merged_df["Avg Score"] = merged_df[['Word Rank Score', 'Times Higher Score', 'Shanghai Score']].mean(axis=1)

top_10_global = merged_df.sort_values(by="Avg Score", ascending=False).head(10)
top_10_global

C:\Users\user\AppData\Local\Temp\ipykernel_52176\1129058160.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  merged_df["Avg Score"] = merged_df[['Word Rank Score', 'Times Higher Score', 'Shanghai Score']].mean(axis=1)

,University,Word Rank Score,Times Higher Score,Shanghai Score,Avg Score
20,Harvard University,92.95,NaN,100.00,96.475
21,Stanford University,92.95,NaN,76.80,84.875
22,Massachusetts Institute of Technology (MIT),92.95,NaN,70.10,81.525
0,Harvard University\n CWUR Rating System: Ed...,100.00,NaN,62.65,81.325
23,University of Cambridge,92.95,NaN,69.60,81.275
1,Massachusetts Institute of Technology\n Educa...,96.70,NaN,62.65,79.675
24,"University of California, Berkeley",92.95,NaN,65.30,79.125
2,Stanford University\n Education: A+; Employab...,95.20,NaN,62.65,78.925
3,University of Cambridge\n Education: A+; Empl...,94.10,NaN,62.65,78.375
4,University of Oxford\n Education: A+; Employa...,93.30,NaN,62.65,77.975

In [33]:
# go to clean them

In [3]:
# check outliers

**What is an Outlier?** 
Outlier is an row/observation that appears far away and diverges from an overall pattern in a sample.

**What are the types of Outliers?**
1. Univariate: These outliers can be found when we look at distribution of a single variable
2. Multivariate: are outliers in an n-dimensional space. In order to find them, you have to look at distributions in multi-dimensions. example (hight=100, weight=100) for a person

**What causes Outliers?**
Whenever we come across outliers, the ideal way to tackle them is to find out the reason of having these outliers. The method to deal with them would then depend on the reason of their occurrence.

Let’s understand various types of outliers:

1. Data Entry Errors:- Human errors such as errors caused during data collection, recording, or entry can cause outliers in data.
2. Measurement Error: It is the most common source of outliers. This is caused when the measurement instrument used turns out to be faulty.
3. Data Processing Error: Whenever we perform data mining, we extract data from multiple sources. It is possible that some manipulation or extraction errors may lead to outliers in the dataset.
4. Sampling error: For instance, we have to measure the height of athletes. By mistake, we include a few basketball players in the sample. This inclusion is likely to cause outliers in the dataset.
5. Natural Outlier: When an outlier is not artificial (due to error), it is a natural outlier. For instance: In my last assignment with one of the renowned insurance company, I noticed that the performance of top 50 financial advisors was far higher than rest of the population. Surprisingly, it was not due to any error. Hence, whenever we perform any data mining activity with advisors, we used to treat this segment separately.


**What is the impact of Outliers on a dataset?**


![image.png](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Outlier_31.png)



**How to detect Outliers?**

1. Most commonly used method to detect outliers is visualization (Univariate Graphical Analysis).

We use 3 common visualization methods:
>- Box-plot: A box plot is a method for graphically depicting groups of numerical data through their quartiles. The box extends from the Q1 to Q3 quartile values of the data, with a line at the median (Q2). The whiskers extend from the edges of the box to show the range of the data. Outlier points are those past the end of the whiskers. Box plots show robust measures of location and spread as well as providing information about symmetry and outliers.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:698/format:webp/1*VK5iHA2AB28HSZwWwUbNYg.png)
>
>
>- Histogram
>- Scatter Plot: A scatter plot is a mathematical diagram using Cartesian coordinates to display values for two variables for a set of data. The data are displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. The points that are far from the population can be termed as an outlier.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Ov6aH-8yIwNoUxtMFwgx4g.png)
>
>

2. Using statistical method (Univariate Non-Graphical analysis):
>- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR
 
![image.png](https://www.whatissixsigma.net/wp-content/uploads/2015/07/Box-Plot-Diagram-to-identify-Outliers-figure-1.png)

>- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier
>- Data points, three or more standard deviation away from mean are considered outlier: The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured. While calculating the Z-score we re-scale and center the data and look for data points that are too far from zero. These data points which are way too far from zero will be treated as the outliers. In most of the cases, a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.
> - Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding

In [23]:
# go to univariate graphical analysis
# go to lesson : data visualisation 1 - chart type section
# then go to univariate graphical analysis
# detect outliers using graphs varbaly

In [24]:
# go to lesson: statistics 1 then statistics 3
# then go to univariate Non graphical analysis
# detect outliers using numerical statistics

In [25]:
# go to delete ouliers

## 2. Data Cleaning: 

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

**Why my data has missing values?**
They may occur at two stages:
1. Data Extraction: It is possible that there are problems with extraction process. Errors at data extraction stage are typically easy to find and can be corrected easily as well.
2. Data collection: These errors occur at time of data collection and are harder to correct.

**Why do we need to handle the missing data?**
To avoid:
- Bias the conclusions.
- Leading the business to make wrong decisions.

**Which are the methods to treat missing values ?**
1. Deletion: we delete rows where any of the variable is missing. Simplicity is one of the major advantage of this method, but this method reduces the power of model because it reduces the sample size.

2. Imputation: is a method to fill in the missing values with estimated ones. This imputation is one of the most frequently used methods.

    2.1. Mean/ Mode/ Median Imputation: It consists of replacing the missing data for a given attribute by the mean or median (quantitative attribute) or mode (qualitative attribute) of all known values of that variable.
    > It can be of two types:
    > - Generalized Imputation: In this case, we calculate the mean or median for all non missing values of that variable then replace missing value with mean or median.
    > - Similar case Imputation: In this case, we calculate average for each group individually of non missing values then replace the missing value based on the group.

    2.2. Constant Value
   
    2.3. Forward Filling
   
    2.4. Backward Filling

6. Prediction Model:  Prediction model is one of the sophisticated method for handling missing data. Here, we create a predictive model to estimate values that will substitute the missing data.  In this case, we divide our data set into two sets: One set with no missing values for the variable and another one with missing values. First data set become training data set of the model while second data set with missing values is test data set and variable with missing values is treated as target variable. Next, we create a model to predict target variable based on other attributes of the training data set and populate missing values of test data set.

> There are 2 drawbacks for this approach:
> - The model estimated values are usually more well-behaved than the true values
> - If there are no relationships with attributes in the data set and the attribute with missing values, then the model will not be precise for estimating missing values.

9. KNN Imputation: In this method of imputation, the missing values of an attribute are imputed using the given number of attributes that are most similar to the attribute whose values are missing. The similarity of two attributes is determined using a distance function. It is also known to have certain advantage & disadvantages.

   > **Advantages:**
   > - k-nearest neighbour can predict both qualitative & quantitative attributes
   > - Creation of predictive model for each attribute with missing data is not required
   > - Attributes with multiple missing values can be easily treated
   > - Correlation structure of the data is taken into consideration

   > **Disadvantage:**
   > - KNN algorithm is very time-consuming in analyzing large database. It searches through all the dataset looking for the most similar instances.
   > - Choice of k-value is very critical. Higher value of k would include attributes which are significantly different from what we need whereas lower value of k implies missing out of significant attributes.

--------------------

In [80]:
# go back to 6th dimention --> Completeness

### Correcting errors

-------------------

In [ ]:
# go back to 7th dimension Accuracy

### Dealing with outliers:

**How to remove Outliers?**
Most of the ways to deal with outliers are similar to the methods of missing values like deleting rows, transforming them, binning them, treat them as a separate group, imputing values and other statistical methods. Here, we will discuss the common techniques used to deal with outliers:

1. Deleting rows: We delete outlier values if it is due to data entry error, data processing error or outlier rows are very small in numbers. We can also use trimming at both ends to remove outliers.

2. Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier rows and after that we can impute it with predicted values.

3. Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

## 3. Univariate Analysis: 

This involves examining single variables to understand their characteristics (distribution, central tendency, dispersion, and shape).

We calculate **numerical values** about the data that tells us about the distribution of the data. We also **draw graphs** showing visually how the data is distributed. **To answer the following questions about Features/characteristics of Data:**
- Where is the center of the data? (location)
- How much does the data vary? (scale)
- What is the shape of the data? (shape)

**The benefits of this analysis:**
Statistics summary gives a high-level idea to identify whether the data has any outliers, data entry error, distribution of data such as the data is normally distributed or left/right skewed

**In this step, we will explore variables one by one using following approaches:**

### 1. Univariate Graphical Analysis:
Method to perform uni-variate analysis will depend on whether the variable type is categorical or numerical.

#### I. Categorical Variables:

we’ll use frequency table to understand distribution of each category
- Bar Chart (Ordinal) - Orderd
- Pie Chart (Nominal) - non Orderd

#### II. Numerical Variables:

we need to understand the central tendency and spread of the variable (Descriptive Analysis) using:
   - Box plot
   - Histogram

### 2. Univariate Non-Graphical analysis: 

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart| 


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.