In [323]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
#from scipy.stats import zscore
 
## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [324]:
TimesHigher = pd.read_excel("data/Times-Higher-Education.xlsx")
shanghaiRanking = pd.read_excel("data/shanghai Ranking.xlsx")
WordRankUniversity = pd.read_excel("data/Word Rank University.xlsx")

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

#### TimesHigher

SDG Number	SDG Name
- 1	No Poverty – Ending poverty everywhere.
- 2	Zero Hunger – Ensuring access to sufficient food.
- 3	Good Health and Well-being – Ensuring healthy lives.
- 4	Quality Education – Providing inclusive education for all.
- 5	Gender Equality – Achieving gender equality and empowering women.
- 6	Clean Water and Sanitation – Ensuring access to water and sanitation.
- 7	Affordable and Clean Energy – Ensuring access to sustainable energy.
- 8	Decent Work and Economic Growth – Promoting jobs and economic growth.
- 9	Industry, Innovation, and Infrastructure – Building resilient infrastructure.
- 10	Reduced Inequalities – Reducing inequality within and among countries.
- 11	Sustainable Cities and Communities – Making cities inclusive and sustainable.
- 12	Responsible Consumption and Production – Ensuring sustainable consumption.
- 13	Climate Action – Taking urgent action to combat climate change.
- 14	Life Below Water – Conserving oceans, seas, and marine resources.
- 15	Life on Land – Protecting ecosystems and biodiversity.
- 16	Peace, Justice, and Strong Institutions – Promoting justice and peace.
- 17	Partnerships for the Goals – Strengthening global partnerships.

In [325]:
TimesHigher.head()

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__number 5,sdg-score-multi__value 5,sdg-score-multi__number 6,sdg-score-multi__value 6,sdg-score-multi__number 7,sdg-score-multi__value 7,sdg-score-multi__number 8,sdg-score-multi__value 8
0,1,Western Sydney University,https://www.timeshighereducation.com/world-uni...,Australia,5.0,80.3,12.0,93.4,15.0,96.7,98.8,99.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,University of Manchester,https://www.timeshighereducation.com/world-uni...,United Kingdom,15.0,97.4,12.0,92.9,11.0,92.2,94.8,97.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Queen’s University,https://www.timeshighereducation.com/world-uni...,Canada,2.0,90.6,16.0,93.4,11.0,91.0,92.6,97.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Universiti Sains Malaysia,https://www.timeshighereducation.com/world-uni...,Malaysia,16.0,94.1,2.0,86.4,1.0,84.9,97.8,96.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,University of Tasmania,https://www.timeshighereducation.com/world-uni...,Australia,13.0,92.8,15.0,96.2,14.0,95.1,96.3,96.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [326]:
TimesHigher.shape

(1591, 20)

#### shanghaiRanking

In [327]:
shanghaiRanking.head()

,Ranking,University Name,National/Regional Rank,Total Score,LOGO,University Detail
0,1,Harvard University,1,100.0,http://www.shanghairanking.com/_uni/logo/032bd...,http://www.shanghairanking.com/institution/har...
1,2,Stanford University,2,76.8,http://www.shanghairanking.com/_uni/logo/13de8...,http://www.shanghairanking.com/institution/sta...
2,3,Massachusetts Institute of Technology (MIT),3,70.1,http://www.shanghairanking.com/_uni/logo/79165...,http://www.shanghairanking.com/institution/mas...
3,4,University of Cambridge,1,69.6,http://www.shanghairanking.com/_uni/logo/8d986...,http://www.shanghairanking.com/institution/uni...
4,5,"University of California, Berkeley",4,65.3,http://www.shanghairanking.com/_uni/logo/0ff17...,http://www.shanghairanking.com/institution/uni...

In [328]:
shanghaiRanking.shape

(1000, 6)

#### WordRankUniversity

In [329]:
WordRankUniversity.head()

,World Rank,University Names,Location,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
1,2Top 0.1%,Massachusetts Institute of Technology\n Educa...,USA,2,4,12,3,9,96.7
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
3,4Top 0.1%,University of Cambridge\n Education: A+; Empl...,United Kingdom,1,3,25,5,11,94.1
4,5Top 0.1%,University of Oxford\n Education: A+; Employa...,United Kingdom,2,7,27,9,4,93.3

In [330]:
WordRankUniversity.shape

(2000, 9)

#### We have 2000 Record and 9 columns:
- World Rank : This represents the overall rank of the university globally.
- University Names: The name of the university.
- Location: The country where the university is located.
- Educational Rank : A specific ranking based on the quality of education.
- Employability Rank: Measures how well the university prepares its graduates for employment. (مقياس مدى قابلية توظيف الخريجين)
- Faculty Rank: Reflects the quality and qualifications of the university's faculty members.(تصنيف مستوى واداء هيئة التدريس)
- Research Rank: Indicates the university’s performance in research activities.
- National Rank: The university's rank within its own country.
- Score: The overall score representing the university's performance across various criteria.

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

#### 1-TimesHigher DataSet

In [331]:
TimesHigher.head(3)

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__number 5,sdg-score-multi__value 5,sdg-score-multi__number 6,sdg-score-multi__value 6,sdg-score-multi__number 7,sdg-score-multi__value 7,sdg-score-multi__number 8,sdg-score-multi__value 8
0,1,Western Sydney University,https://www.timeshighereducation.com/world-uni...,Australia,5.0,80.3,12.0,93.4,15.0,96.7,98.8,99.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,University of Manchester,https://www.timeshighereducation.com/world-uni...,United Kingdom,15.0,97.4,12.0,92.9,11.0,92.2,94.8,97.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Queen’s University,https://www.timeshighereducation.com/world-uni...,Canada,2.0,90.6,16.0,93.4,11.0,91.0,92.6,97.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [332]:
TimesHigher.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591 entries, 0 to 1590
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            1591 non-null   object
 1   University Name                 1591 non-null   object
 2   ranking-institution-title href  1500 non-null   object
 3   Location                        1500 non-null   object
 4   sdg-score-multi__number         867 non-null    float64
 5   sdg-score-multi__value          867 non-null    object
 6   sdg-score-multi__number 2       826 non-null    float64
 7   sdg-score-multi__value 2        825 non-null    object
 8   sdg-score-multi__number 3       812 non-null    float64
 9   sdg-score-multi__value 3        805 non-null    object
 10  sdg-score-multi__value 4        1583 non-null   object
 11  scores                          1591 non-null   object
 12  sdg-score-multi__number 5       565 non-null    float64
 13  sdg-score-multi__value 5        557 non-null    object
 14  sdg-score-multi__number 6       498 non-null    float64
 15  sdg-score-multi__value 6        496 non-null    object
 16  sdg-score-multi__number 7       439 non-null    float64
 17  sdg-score-multi__value 7        439 non-null    object
 18  sdg-score-multi__number 8       483 non-null    float64
 19  sdg-score-multi__value 8        483 non-null    object
dtypes: float64(7), object(13)
memory usage: 248.7+ KB

In [333]:
TimesHigher.describe(include='object')

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__value,sdg-score-multi__value 2,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__value 5,sdg-score-multi__value 6,sdg-score-multi__value 7,sdg-score-multi__value 8
count,1591,1591,1500,1500,867,825,805,1583,1591,557,496,439,483
unique,64,1591,1500,110,250,236,228,87,64,147,143,113,108
top,1001+,Western Sydney University,https://www.timeshighereducation.com/world-uni...,Turkey,73.0–87.2,45.2–58.6,48.4–57.7,1.5–45.2,7.9–53.8,44.7–54.5,48.4–57.7,48.4–57.7,2.8–35.7
freq,591,1,1,79,28,22,20,579,591,36,23,20,33

In [334]:
TimesHigher.describe(include='number')

,sdg-score-multi__number,sdg-score-multi__number 2,sdg-score-multi__number 3,sdg-score-multi__number 5,sdg-score-multi__number 6,sdg-score-multi__number 7,sdg-score-multi__number 8
count,867.000000,826.000000,812.000000,565.000000,498.000000,439.000000,483.000000
mean,8.193772,8.446731,7.902709,5.488496,6.777108,7.596811,5.962733
std,4.240660,4.786111,4.403411,3.151375,3.230968,4.278980,3.346928
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000
25%,4.000000,4.000000,5.000000,3.000000,4.000000,4.000000,4.000000
50%,9.000000,8.000000,8.000000,5.000000,6.000000,7.000000,4.000000
75%,11.000000,12.000000,11.000000,8.000000,8.000000,10.000000,7.000000
max,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000

#### 2-shanghaiRanking Dataset

In [335]:
shanghaiRanking.head(3)

,Ranking,University Name,National/Regional Rank,Total Score,LOGO,University Detail
0,1,Harvard University,1,100.0,http://www.shanghairanking.com/_uni/logo/032bd...,http://www.shanghairanking.com/institution/har...
1,2,Stanford University,2,76.8,http://www.shanghairanking.com/_uni/logo/13de8...,http://www.shanghairanking.com/institution/sta...
2,3,Massachusetts Institute of Technology (MIT),3,70.1,http://www.shanghairanking.com/_uni/logo/79165...,http://www.shanghairanking.com/institution/mas...

In [336]:
shanghaiRanking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Ranking                 1000 non-null   object
 1   University Name         1000 non-null   object
 2   National/Regional Rank  1000 non-null   object
 3   Total Score             1000 non-null   float64
 4   LOGO                    1000 non-null   object
 5   University Detail       1000 non-null   object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

In [337]:
shanghaiRanking.describe(include='object')

,Ranking,University Name,National/Regional Rank,LOGO,University Detail
count,1000,1000,1000,1000,1000
unique,93,1000,136,1000,1000
top,901-1000,Harvard University,1,http://www.shanghairanking.com/_uni/logo/032bd...,http://www.shanghairanking.com/institution/har...
freq,100,1,59,1,1

In [338]:
shanghaiRanking.describe(include='number')

       Total Score
count  1000.000000
mean      5.943500
std      12.379624
min       0.000000
25%       0.000000
50%       0.000000
75%       7.500000
max     100.000000

In [339]:
shanghaiRanking.sort_values('Total Score',ascending=False).head(10)

,Ranking,University Name,National/Regional Rank,Total Score,LOGO,University Detail
0,1,Harvard University,1,100.0,http://www.shanghairanking.com/_uni/logo/032bd...,http://www.shanghairanking.com/institution/har...
1,2,Stanford University,2,76.8,http://www.shanghairanking.com/_uni/logo/13de8...,http://www.shanghairanking.com/institution/sta...
2,3,Massachusetts Institute of Technology (MIT),3,70.1,http://www.shanghairanking.com/_uni/logo/79165...,http://www.shanghairanking.com/institution/mas...
3,4,University of Cambridge,1,69.6,http://www.shanghairanking.com/_uni/logo/8d986...,http://www.shanghairanking.com/institution/uni...
4,5,"University of California, Berkeley",4,65.3,http://www.shanghairanking.com/_uni/logo/0ff17...,http://www.shanghairanking.com/institution/uni...
5,6,Princeton University,5,60.0,http://www.shanghairanking.com/_uni/logo/b1dad...,http://www.shanghairanking.com/institution/pri...
6,7,University of Oxford,2,58.7,http://www.shanghairanking.com/_uni/logo/c1d96...,http://www.shanghairanking.com/institution/uni...
7,8,Columbia University,6,57.2,http://www.shanghairanking.com/_uni/logo/ce342...,http://www.shanghairanking.com/institution/col...
8,9,California Institute of Technology,7,56.1,http://www.shanghairanking.com/_uni/logo/c956f...,http://www.shanghairanking.com/institution/cal...
9,10,University of Chicago,8,55.1,http://www.shanghairanking.com/_uni/logo/b4f6e...,http://www.shanghairanking.com/institution/uni...

#### 3-WordRankUniversity dataset

In [340]:
WordRankUniversity.head(3)

,World Rank,University Names,Location,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
1,2Top 0.1%,Massachusetts Institute of Technology\n Educa...,USA,2,4,12,3,9,96.7
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2

In [341]:
WordRankUniversity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   World Rank          2000 non-null   object
 1   University Names    2000 non-null   object
 2   Location            2000 non-null   object
 3   National Rank       2000 non-null   int64
 4   Educational Rank    2000 non-null   object
 5   Employability Rank  2000 non-null   object
 6   Faculty Rank        2000 non-null   object
 7   Research Rank       2000 non-null   object
 8   Score               2000 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 140.8+ KB

In [342]:
WordRankUniversity.describe(include='object')

,World Rank,University Names,Location,Educational Rank,Employability Rank,Faculty Rank,Research Rank
count,2000,2000,2000,2000,2000,2000,2000
unique,2000,2000,95,439,1030,262,1935
top,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,-,-,-,-
freq,1,1,332,1562,967,1727,66

In [343]:
WordRankUniversity.describe(include='number')

       National Rank       Score
count    2000.000000  2000.00000
mean       69.245000    71.75555
std        85.538608     5.03880
min         1.000000    66.00000
25%         9.750000    67.90000
50%        33.000000    70.40000
75%        89.000000    74.30000
max       332.000000   100.00000

In [344]:
TimesHigher['sdg-score-multi__number'].value_counts().sort_index()

1.0      44
2.0      29
3.0      87
4.0      75
5.0      59
6.0      35
7.0      18
8.0      47
9.0     134
10.0     54
11.0     85
12.0     82
13.0     15
14.0     29
15.0     16
16.0     58
Name: sdg-score-multi__number, dtype: int64

In [345]:
# Assuming your DataFrame is named 'shanghaiRanking'
# Grouping by 'National/Regional Rank' and getting a list of universities in each region
region_universities = shanghaiRanking.groupby('National/Regional Rank')['University Name'].apply(list)

# Display the result
print(region_universities)

National/Regional Rank
1         [Harvard University, University of Cambridge, ...
1-2       [King Abdulaziz University, King Saud Universi...
10        [Cornell University, Maastricht University, Ka...
10-12     [Graz University of Technology, Johannes Keple...
10-19     [Karlsruhe Institute of Technology (KIT), RWTH...
                                ...
9-13      [Central South University, Nanjing University,...
9-14      [Aligarh Muslim University, Amity University, ...
9-16      [London School of Economics and Political Scie...
9-18      [Curtin University, Deakin University, Griffit...
94-114    [Anhui Medical University, Anhui University, B...
Name: University Name, Length: 136, dtype: object

In [346]:
# Assuming your 'region_universities' is already created

expanded_universities = []

# Loop through the grouped 'region_universities' to expand rank ranges
for region, universities in region_universities.items():
    # If the region is a range (e.g., '9-13'), split it
    if '-' in str(region):
        start_rank, end_rank = map(int, region.split('-'))
        for rank in range(start_rank, end_rank + 1):
            # For each rank in the range, append the universities with that rank
            for university in universities:
                expanded_universities.append((rank, university))
    else:
        # If it's a single rank (e.g., '1'), just add the universities
        for university in universities:
            expanded_universities.append((int(region), university))

# Create a DataFrame from the expanded list
expanded_df = pd.DataFrame(expanded_universities, columns=['Rank', 'University Name'])

# Display the result
print(expanded_df)

      Rank                                University Name
0        1                             Harvard University
1        1                        University of Cambridge
2        1                        Paris-Saclay University
3        1                                     ETH Zurich
4        1                          University of Toronto
...    ...                                            ...
7647   114                     Shandong Normal University
7648   114                              Shanxi University
7649   114  The Chinese University of Hong Kong, Shenzhen
7650   114                            Westlake University
7651   114                 Xi'an University of Technology

[7652 rows x 2 columns]

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable. 


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

#### 2. Timeliness: 
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

#### 3. Consistency: 

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

#### 4. Relevance: 
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.

#### 5. Uniqueness: 
Check for and remove duplicate records to prevent skewed analysis results.

#### shanghaiRanking

In [347]:
shanghaiRanking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Ranking                 1000 non-null   object
 1   University Name         1000 non-null   object
 2   National/Regional Rank  1000 non-null   object
 3   Total Score             1000 non-null   float64
 4   LOGO                    1000 non-null   object
 5   University Detail       1000 non-null   object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

In [348]:
# Check if there is a duplicated rows 
shanghaiRanking.duplicated().sum()

0

In [349]:
shanghaiRanking['University Name'].duplicated().sum()

0

In [350]:
shanghaiRanking['Total Score'].duplicated().sum()

894

In [351]:
# Theare is 740 of 0.0 score
shanghaiRanking[shanghaiRanking['Total Score'] == 0.0]['Total Score'].count()

740

In [352]:
shanghaiRanking[(shanghaiRanking['Total Score'].duplicated()) & shanghaiRanking['Total Score'] > 0.0].shape

(155, 6)

In [353]:
# Check if there is a duplicated Ranking 
shanghaiRanking['Ranking'].duplicated().sum()

907

In [354]:
# View all duplicated values and number of duplicates
df1 = shanghaiRanking[shanghaiRanking['Ranking'].duplicated()]
df1['Ranking'].value_counts()

901-1000    99
801-900     99
701-800     99
601-700     99
501-600     99
401-500     99
301-400     99
201-300     99
151-200     49
101-150     49
83           3
44           2
99           1
41           1
92           1
90           1
79           1
71           1
67           1
64           1
62           1
57           1
54           1
96           1
Name: Ranking, dtype: int64

In [355]:
# To solve the duplicated in Ranking
# Create new columns hold ranking by score 

shanghaiRanking = shanghaiRanking.sort_values(by='Total Score', ascending=False)
shanghaiRanking['Ranking by Score'] = range(1, len(shanghaiRanking) + 1)

In [356]:
shanghaiRanking['Ranking by Score'].duplicated().sum()

0

In [357]:
shanghaiRanking.head(20)

,Ranking,University Name,National/Regional Rank,Total Score,LOGO,University Detail,Ranking by Score
0,1,Harvard University,1,100.0,http://www.shanghairanking.com/_uni/logo/032bd...,http://www.shanghairanking.com/institution/har...,1
1,2,Stanford University,2,76.8,http://www.shanghairanking.com/_uni/logo/13de8...,http://www.shanghairanking.com/institution/sta...,2
2,3,Massachusetts Institute of Technology (MIT),3,70.1,http://www.shanghairanking.com/_uni/logo/79165...,http://www.shanghairanking.com/institution/mas...,3
3,4,University of Cambridge,1,69.6,http://www.shanghairanking.com/_uni/logo/8d986...,http://www.shanghairanking.com/institution/uni...,4
4,5,"University of California, Berkeley",4,65.3,http://www.shanghairanking.com/_uni/logo/0ff17...,http://www.shanghairanking.com/institution/uni...,5
5,6,Princeton University,5,60.0,http://www.shanghairanking.com/_uni/logo/b1dad...,http://www.shanghairanking.com/institution/pri...,6
6,7,University of Oxford,2,58.7,http://www.shanghairanking.com/_uni/logo/c1d96...,http://www.shanghairanking.com/institution/uni...,7
7,8,Columbia University,6,57.2,http://www.shanghairanking.com/_uni/logo/ce342...,http://www.shanghairanking.com/institution/col...,8
8,9,California Institute of Technology,7,56.1,http://www.shanghairanking.com/_uni/logo/c956f...,http://www.shanghairanking.com/institution/cal...,9
9,10,University of Chicago,8,55.1,http://www.shanghairanking.com/_uni/logo/b4f6e...,http://www.shanghairanking.com/institution/uni...,10
10,11,Yale University,9,53.2,http://www.shanghairanking.com/_uni/logo/5c6f4...,http://www.shanghairanking.com/institution/yal...,11
11,12,Cornell University,10,50.4,http://www.shanghairanking.com/_uni/logo/e6c9f...,http://www.shanghairanking.com/institution/cor...,12
12,13,"University of California, Los Angeles",11,50.2,http://www.shanghairanking.com/_uni/logo/27bdc...,http://www.shanghairanking.com/institution/uni...,13
13,14,Johns Hopkins University,12,47.9,http://www.shanghairanking.com/_uni/logo/6a65d...,http://www.shanghairanking.com/institution/joh...,14
14,15,University of Pennsylvania,13,47.5,http://www.shanghairanking.com/_uni/logo/9cdff...,http://www.shanghairanking.com/institution/uni...,15
15,16,Paris-Saclay University,1,47.0,http://www.shanghairanking.com/_uni/logo/98e83...,http://www.shanghairanking.com/institution/par...,16
16,17,University of Washington,14,46.8,http://www.shanghairanking.com/_uni/logo/e37a4...,http://www.shanghairanking.com/institution/uni...,17
17,18,University College London,3,46.6,http://www.shanghairanking.com/_uni/logo/9f318...,http://www.shanghairanking.com/institution/uni...,18
18,19,"University of California, San Francisco",15,45.9,http://www.shanghairanking.com/_uni/logo/5d107...,http://www.shanghairanking.com/institution/uni...,19
19,20,ETH Zurich,1,45.6,http://www.shanghairanking.com/_uni/logo/690aa...,http://www.shanghairanking.com/institution/eth...,20

#### WordRankUniversity

In [358]:
WordRankUniversity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   World Rank          2000 non-null   object
 1   University Names    2000 non-null   object
 2   Location            2000 non-null   object
 3   National Rank       2000 non-null   int64
 4   Educational Rank    2000 non-null   object
 5   Employability Rank  2000 non-null   object
 6   Faculty Rank        2000 non-null   object
 7   Research Rank       2000 non-null   object
 8   Score               2000 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 140.8+ KB

In [359]:
# Check if there is a duplicated rows 
WordRankUniversity.duplicated().sum()

0

In [360]:
# Check if there is a duplicated University Names
WordRankUniversity['University Names'].duplicated().sum()

0

In [361]:
# Check if there is a duplicated Ranking 
WordRankUniversity['World Rank'].duplicated().sum()

0

In [362]:
# Check if there is a duplicated Ranking National using Location and National Rank
WordRankUniversity[['Location ','National Rank']].duplicated().sum()

0

In [402]:
WordRankUniversity[WordRankUniversity['Employability Rank'].astype(int).between(1, len(WordRankUniversity))].sort_values(by='Employability Rank',key=lambda x : x.astype(int))

,World Rank,University Names,Location,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
119,120Top 0.6%,INSEAD,France,6,0,2,0,1710,81.1
210,211Top 1.1%,Institut national du service public,France,11,0,3,0,0,78.5
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
273,274Top 1.4%,China Europe International Business School,China,32,0,5,0,0,77.3
...,...,...,...,...,...,...,...,...,...
1612,1613Top 7.9%,Kwangwoon University,South Korea,48,0,1705,0,1544,67.4
936,937Top 4.6%,"University of the Republic, Uruguay",Uruguay,1,0,1707,0,895,70.8
820,821Top 4%,"Open University, UK",United Kingdom,51,0,1710,0,785,71.6
967,968Top 4.8%,Alexandria University,Egypt,4,415,1712,0,924,70.6
1195,1196Top 5.9%,University of the Punjab,Pakistan,6,418,1713,0,1148,69.3

In [364]:
# See what is the duplicated values
WordRankUniversity[WordRankUniversity['Employability Rank'].duplicated(keep=False)]['Employability Rank'].value_counts()

-       967
1281      2
1642      2
1672      2
1631      2
Name: Employability Rank, dtype: int64

In [365]:
# Replace - to 0
# Get the index whare the - is found 
dash_employ_index = WordRankUniversity[WordRankUniversity['Employability Rank']== '-'].index
WordRankUniversity.loc[dash_employ_index, 'Employability Rank'] = '0'

In [366]:
WordRankUniversity[WordRankUniversity['Employability Rank'].duplicated(keep=False)]['Employability Rank'].value_counts()

0       967
1281      2
1642      2
1672      2
1631      2
Name: Employability Rank, dtype: int64

In [367]:
# View the count if - value is found in any column 
count_result = (WordRankUniversity == '-').sum()
count_result

World Rank               0
University Names         0
Location                 0
National Rank            0
Educational Rank      1562
Employability Rank       0
Faculty Rank          1727
Research Rank           66
Score                    0
dtype: int64

In [ ]:
# There is a duplicated of - 
WordRankUniversity['Research Rank'].duplicated(keep=False).sum()

66

In [368]:
# Replace - to 0
# Get the index whare the - is found 
dash_research_index = WordRankUniversity[WordRankUniversity['Research Rank']== '-'].index
WordRankUniversity.loc[dash_research_index, 'Research Rank'] = '0'

In [369]:
WordRankUniversity[WordRankUniversity['Research Rank'].duplicated()].describe(include='object')

,World Rank,University Names,Location,Educational Rank,Employability Rank,Faculty Rank,Research Rank
count,65,65,65,65,65,65,65
unique,65,65,16,29,54,12,1
top,274Top 1.4%,China Europe International Business School,USA,-,0,-,0
freq,1,1,28,37,12,54,65

In [ ]:
# There is a 1562 duplicated of - 
WordRankUniversity['Educational Rank'].duplicated().sum()

1561

In [370]:
# Replace - to 0
# Get the index whare the - is found 
dash_edcat_index = WordRankUniversity[WordRankUniversity['Educational Rank']== '-'].index
WordRankUniversity.loc[dash_edcat_index, 'Educational Rank'] = '0'

In [ ]:
WordRankUniversity['Employability Rank'].duplicated().sum()

970

In [ ]:
WordRankUniversity[WordRankUniversity['Employability Rank'].duplicated(keep=False)]['Employability Rank'].value_counts()

-       967
1281      2
1642      2
1672      2
1631      2
Name: Employability Rank, dtype: int64

In [ ]:
WordRankUniversity['Faculty Rank'].duplicated(keep=False).sum()

1750

In [ ]:
WordRankUniversity[WordRankUniversity['Faculty Rank'].duplicated(keep=False)]['Faculty Rank'].value_counts()

-      1727
107       3
231       2
190       2
167       2
279       2
220       2
148       2
261       2
273       2
128       2
276       2
Name: Faculty Rank, dtype: int64

In [372]:
# Replace - to 0
# Get the index whare the - is found 
dash_faculty_index = WordRankUniversity[WordRankUniversity['Faculty Rank']== '-'].index
WordRankUniversity.loc[dash_faculty_index, 'Faculty Rank'] = '0'

In [373]:
# View the count if - value is found in any column 
count_result = (WordRankUniversity == '-').sum()
count_result

World Rank            0
University Names      0
Location              0
National Rank         0
Educational Rank      0
Employability Rank    0
Faculty Rank          0
Research Rank         0
Score                 0
dtype: int64

In [377]:
WordRankUniversity.describe(include='object')

,World Rank,University Names,Location,Educational Rank,Employability Rank,Faculty Rank,Research Rank
count,2000,2000,2000,2000,2000,2000,2000
unique,2000,2000,95,439,1030,262,1935
top,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,0,0,0,0
freq,1,1,332,1562,967,1727,66

#### TimesHigher

In [251]:
TimesHigher.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591 entries, 0 to 1590
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            1591 non-null   object
 1   University Name                 1591 non-null   object
 2   ranking-institution-title href  1500 non-null   object
 3   Location                        1500 non-null   object
 4   sdg-score-multi__number         867 non-null    float64
 5   sdg-score-multi__value          867 non-null    object
 6   sdg-score-multi__number 2       826 non-null    float64
 7   sdg-score-multi__value 2        825 non-null    object
 8   sdg-score-multi__number 3       812 non-null    float64
 9   sdg-score-multi__value 3        805 non-null    object
 10  sdg-score-multi__value 4        1583 non-null   object
 11  scores                          1591 non-null   object
 12  sdg-score-multi__number 5       565 non-null    float64
 13  sdg-score-multi__value 5        557 non-null    object
 14  sdg-score-multi__number 6       498 non-null    float64
 15  sdg-score-multi__value 6        496 non-null    object
 16  sdg-score-multi__number 7       439 non-null    float64
 17  sdg-score-multi__value 7        439 non-null    object
 18  sdg-score-multi__number 8       483 non-null    float64
 19  sdg-score-multi__value 8        483 non-null    object
dtypes: float64(7), object(13)
memory usage: 248.7+ KB

In [253]:
# Check if there is a duplicated rows 
TimesHigher.duplicated().sum()

0

In [255]:
# Check if there is a duplicated University Name
TimesHigher['University Name '].duplicated().sum()

0

In [256]:
# Check if there is a duplicated Rank 
TimesHigher['Rank'].duplicated().sum()

1527

In [258]:
TimesHigher[TimesHigher['Rank'].duplicated(keep=False)]['Rank'].value_counts()

1001+       591
601–800     205
401–600     199
801–1000    195
301–400     100
201–300     100
101–200      99
=86           5
=42           4
=92           4
=79           4
=49           3
=52           3
=58           3
=100          3
=9            3
=29           3
=74           3
=14           3
=46           3
=83           2
=97           2
=7            2
=77           2
=72           2
=64           2
=61           2
=40           2
=36           2
=34           2
=26           2
=24           2
=18           2
=67           2
Name: Rank, dtype: int64

In [257]:
# View the count if - value is found in any column 
count_result2 = (TimesHigher == '-').sum()
count_result2

Rank                              0
University Name                   0
ranking-institution-title href    0
Location                          0
sdg-score-multi__number           0
sdg-score-multi__value            0
sdg-score-multi__number 2         0
sdg-score-multi__value 2          0
sdg-score-multi__number 3         0
sdg-score-multi__value 3          0
sdg-score-multi__value 4          0
scores                            0
sdg-score-multi__number 5         0
sdg-score-multi__value 5          0
sdg-score-multi__number 6         0
sdg-score-multi__value 6          0
sdg-score-multi__number 7         0
sdg-score-multi__value 7          0
sdg-score-multi__number 8         0
sdg-score-multi__value 8          0
dtype: int64

In [265]:
# There is a duplicated 
TimesHigher[TimesHigher['scores'].duplicated(keep=False)]['scores'].describe(include='object')

count         1561
unique          34
top       7.9–53.8
freq           591
Name: scores, dtype: object

In [425]:
TimesHigher.sort_values('scores',ascending=False).head(20)

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__number 5,sdg-score-multi__value 5,sdg-score-multi__number 6,sdg-score-multi__value 6,sdg-score-multi__number 7,sdg-score-multi__value 7,sdg-score-multi__number 8,sdg-score-multi__value 8
0,1,Western Sydney University,https://www.timeshighereducation.com/world-uni...,Australia,5.0,80.3,12.0,93.4,15.0,96.7,98.8,99.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,University of Manchester,https://www.timeshighereducation.com/world-uni...,United Kingdom,15.0,97.4,12.0,92.9,11.0,92.2,94.8,97.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Queen’s University,https://www.timeshighereducation.com/world-uni...,Canada,2.0,90.6,16.0,93.4,11.0,91.0,92.6,97.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Universiti Sains Malaysia,https://www.timeshighereducation.com/world-uni...,Malaysia,16.0,94.1,2.0,86.4,1.0,84.9,97.8,96.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,University of Tasmania,https://www.timeshighereducation.com/world-uni...,Australia,13.0,92.8,15.0,96.2,14.0,95.1,96.3,96.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Arizona State University (Tempe),https://www.timeshighereducation.com/world-uni...,United States,15.0,95.4,14.0,93.9,6.0,87.6,81.9–86.9,96.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,=7,University of Alberta,https://www.timeshighereducation.com/world-uni...,Canada,9.0,99.4,2.0,89.2,15.0,91.0,94.4,96.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,=7,RMIT University,https://www.timeshighereducation.com/world-uni...,Australia,10.0,92.1,8.0,83.7,11.0,87.4,98.5,96.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,=9,University of Victoria,https://www.timeshighereducation.com/world-uni...,Canada,11.0,91.8,13.0,89.4,12.0,88.4,91.9,95.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,=9,Western University,https://www.timeshighereducation.com/world-uni...,Canada,9.0,97.7,1.0,88.0,8.0,78.6,81.9–86.9,95.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,=9,Aalborg University,https://www.timeshighereducation.com/world-uni...,Denmark,4.0,90.6,10.0,90.2,14.0,93.4,98.5,95.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,University of Auckland,https://www.timeshighereducation.com/world-uni...,New Zealand,15.0,95.0,5.0,75.8,9.0,93.3,92.2,95.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,University of Glasgow,https://www.timeshighereducation.com/world-uni...,United Kingdom,11.0,93.1,16.0,89.1,8.0,76.8,96.6,95.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,=14,Université Laval,https://www.timeshighereducation.com/world-uni...,Canada,2.0,88.5,12.0,90.7,15.0,94.5,93.7,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,=14,University of Technology Sydney,https://www.timeshighereducation.com/world-uni...,Australia,12.0,88.9,8.0,78.2,11.0,86.0,96.1,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,=14,Yonsei University (Seoul campus),https://www.timeshighereducation.com/world-uni...,South Korea,9.0,99.9,12.0,91.0,8.0,78.2,91.6,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,Chulalongkorn University,https://www.timeshighereducation.com/world-uni...,Thailand,9.0,99.0,3.0,88.1,8.0,74.4,95.6,94.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,=18,University of Exeter,https://www.timeshighereducation.com/world-uni...,United Kingdom,6.0,92.7,12.0,90.5,15.0,90.2,94.0,94.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,=18,UNSW Sydney,https://www.timeshighereducation.com/world-uni...,Australia,13.0,92.6,11.0,90.6,15.0,93.4,94.8,94.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,University of Indonesia,https://www.timeshighereducation.com/world-uni...,Indonesia,2.0,87.7,1.0,89.0,8.0,79.1,81.9–86.9,94.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [275]:
TimesHigher[TimesHigher['scores'].duplicated(keep=False)]['scores'].value_counts().sort_values(ascending=False)

7.9–53.8     591
59.7–66.7    205
66.9–72.6    199
53.9–59.6    195
72.7–76.7    100
76.8–82.1    100
82.2–88.2     99
89.2           5
91.9           4
89.0           4
89.5           4
95.8           3
91.8           3
95.0           3
92.9           3
89.7           3
88.3           3
91.2           3
91.3           3
90.8           3
92.1           2
94.5           2
93.5           2
93.4           2
92.6           2
92.5           2
90.5           2
90.7           2
89.8           2
89.6           2
96.4           2
88.6           2
89.4           2
90.3           2
Name: scores, dtype: int64

In [266]:
TimesHigher['Location'].duplicated().sum()

1480

In [273]:
TimesHigher[TimesHigher['Location'].duplicated()]['Location'].value_counts()

Turkey       78
Japan        77
Pakistan     71
India        65
Thailand     64
             ..
Israel        1
Argentina     1
Iceland       1
Macao         1
Mauritius     1
Name: Location, Length: 85, dtype: int64

In [66]:
# go to delete duplicates columns

#### 6. Completeness: 
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

In [ ]:
#Display number missing values per column

#### shanghaiRanking

In [285]:
shanghaiRanking.isnull().sum().sort_values(ascending = False)

Ranking                   0
University Name           0
National/Regional Rank    0
Total Score               0
LOGO                      0
University Detail         0
dtype: int64

#### WordRankUniversity

In [429]:
WordRankUniversity.isnull().sum().sort_values(ascending = False)

World Rank            0
University Names      0
Location              0
National Rank         0
Educational Rank      0
Employability Rank    0
Faculty Rank          0
Research Rank         0
Score                 0
dtype: int64

#### TimesHigher

In [430]:
TimesHigher.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591 entries, 0 to 1590
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            1591 non-null   object
 1   University Name                 1591 non-null   object
 2   ranking-institution-title href  1500 non-null   object
 3   Location                        1500 non-null   object
 4   sdg-score-multi__number         867 non-null    float64
 5   sdg-score-multi__value          867 non-null    object
 6   sdg-score-multi__number 2       826 non-null    float64
 7   sdg-score-multi__value 2        825 non-null    object
 8   sdg-score-multi__number 3       812 non-null    float64
 9   sdg-score-multi__value 3        805 non-null    object
 10  sdg-score-multi__value 4        1583 non-null   object
 11  scores                          1591 non-null   object
 12  sdg-score-multi__number 5       565 non-null    float64
 13  sdg-score-multi__value 5        557 non-null    object
 14  sdg-score-multi__number 6       498 non-null    float64
 15  sdg-score-multi__value 6        496 non-null    object
 16  sdg-score-multi__number 7       439 non-null    float64
 17  sdg-score-multi__value 7        439 non-null    object
 18  sdg-score-multi__number 8       483 non-null    float64
 19  sdg-score-multi__value 8        483 non-null    object
dtypes: float64(7), object(13)
memory usage: 248.7+ KB

In [428]:
TimesHigher.isnull().sum().sort_values(ascending = False)

sdg-score-multi__number 7         1152
sdg-score-multi__value 7          1152
sdg-score-multi__value 8          1108
sdg-score-multi__number 8         1108
sdg-score-multi__value 6          1095
sdg-score-multi__number 6         1093
sdg-score-multi__value 5          1034
sdg-score-multi__number 5         1026
sdg-score-multi__value 3           786
sdg-score-multi__number 3          779
sdg-score-multi__value 2           766
sdg-score-multi__number 2          765
sdg-score-multi__number            724
sdg-score-multi__value             724
ranking-institution-title href      91
Location                            91
sdg-score-multi__value 4             8
scores                               0
University Name                      0
Rank                                 0
dtype: int64

In [434]:

TimesHigher.fillna({'sdg-score-multi__number 7': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number 8': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number 6': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number 5': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number 3': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number 2': '0'}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__number': '0'}, inplace=True)

In [438]:
TimesHigher.fillna({'sdg-score-multi__value 7': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 8': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 6': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 5': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 4': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 3': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value 2': 0}, inplace=True)
TimesHigher.fillna({'sdg-score-multi__value': 0}, inplace=True)

In [440]:
TimesHigher.fillna({'Location': 'Unknown'}, inplace=True)
TimesHigher.fillna({'ranking-institution-title href': 'Unknown'}, inplace=True)

In [441]:
TimesHigher.isnull().sum().sort_values(ascending = False)

Rank                              0
University Name                   0
sdg-score-multi__number 8         0
sdg-score-multi__value 7          0
sdg-score-multi__number 7         0
sdg-score-multi__value 6          0
sdg-score-multi__number 6         0
sdg-score-multi__value 5          0
sdg-score-multi__number 5         0
scores                            0
sdg-score-multi__value 4          0
sdg-score-multi__value 3          0
sdg-score-multi__number 3         0
sdg-score-multi__value 2          0
sdg-score-multi__number 2         0
sdg-score-multi__value            0
sdg-score-multi__number           0
Location                          0
ranking-institution-title href    0
sdg-score-multi__value 8          0
dtype: int64

In [ ]:
# go to clean them

In [68]:
# go to clean them

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

In [ ]:
# check columns types

In [447]:
WordRankUniversity.head()
df = WordRankUniversity.astype({'Employability Rank':int})
df2 = df[df['Employability Rank'] > 0 ]
df2.sort_values('Employability Rank').head(10)

,World Rank,University Names,Location,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
119,120Top 0.6%,INSEAD,France,6,0,2,0,1710,81.1
210,211Top 1.1%,Institut national du service public,France,11,0,3,0,0,78.5
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
273,274Top 1.4%,China Europe International Business School,China,32,0,5,0,0,77.3
12,13Top 0.1%,University of Tokyo,Japan,1,37,6,113,30,89.8
279,280Top 1.4%,HEC Paris,France,15,0,7,0,0,77.2
8,9Top 0.1%,University of Pennsylvania\n Education: A; Em...,USA,7,14,8,45,12,91.2
44,45Top 0.3%,Institut Polytechnique de Paris,France,5,102,9,188,370,85.1
405,406Top 2%,International Institute for Management Develop...,Switzerland,8,0,10,0,0,75.3

In [448]:
WordRankUniversity.head(10)

,World Rank,University Names,Location,National Rank,Educational Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,1Top 0.1%,Harvard University\n CWUR Rating System: Ed...,USA,1,1,1,1,1,100.0
1,2Top 0.1%,Massachusetts Institute of Technology\n Educa...,USA,2,4,12,3,9,96.7
2,3Top 0.1%,Stanford University\n Education: A+; Employab...,USA,3,11,4,2,2,95.2
3,4Top 0.1%,University of Cambridge\n Education: A+; Empl...,United Kingdom,1,3,25,5,11,94.1
4,5Top 0.1%,University of Oxford\n Education: A+; Employa...,United Kingdom,2,7,27,9,4,93.3
5,6Top 0.1%,Princeton University\n Education: A+; Employa...,USA,4,5,16,6,82,92.6
6,7Top 0.1%,University of Chicago\n Education: A+; Employ...,USA,5,8,15,22,28,92.1
7,8Top 0.1%,Columbia University\n Education: A+; Employab...,USA,6,12,14,10,13,91.6
8,9Top 0.1%,University of Pennsylvania\n Education: A; Em...,USA,7,14,8,45,12,91.2
9,10Top 0.1%,Yale University\n Education: A+; Employabilit...,USA,8,6,35,13,21,90.8

In [463]:
TimesHigher.head(10)

,Rank,University Name,ranking-institution-title href,Location,sdg-score-multi__number,sdg-score-multi__value,sdg-score-multi__number 2,sdg-score-multi__value 2,sdg-score-multi__number 3,sdg-score-multi__value 3,sdg-score-multi__value 4,scores,sdg-score-multi__number 5,sdg-score-multi__value 5,sdg-score-multi__number 6,sdg-score-multi__value 6,sdg-score-multi__number 7,sdg-score-multi__value 7,sdg-score-multi__number 8,sdg-score-multi__value 8
0,1,Western Sydney University,https://www.timeshighereducation.com/world-uni...,Australia,5.0,80.3,12.0,93.4,15.0,96.7,98.8,99.4,0,0,0,0,0,0,0,0
1,2,University of Manchester,https://www.timeshighereducation.com/world-uni...,United Kingdom,15.0,97.4,12.0,92.9,11.0,92.2,94.8,97.5,0,0,0,0,0,0,0,0
2,3,Queen’s University,https://www.timeshighereducation.com/world-uni...,Canada,2.0,90.6,16.0,93.4,11.0,91.0,92.6,97.2,0,0,0,0,0,0,0,0
3,4,Universiti Sains Malaysia,https://www.timeshighereducation.com/world-uni...,Malaysia,16.0,94.1,2.0,86.4,1.0,84.9,97.8,96.9,0,0,0,0,0,0,0,0
4,5,University of Tasmania,https://www.timeshighereducation.com/world-uni...,Australia,13.0,92.8,15.0,96.2,14.0,95.1,96.3,96.6,0,0,0,0,0,0,0,0
5,6,Arizona State University (Tempe),https://www.timeshighereducation.com/world-uni...,United States,15.0,95.4,14.0,93.9,6.0,87.6,81.9–86.9,96.5,0,0,0,0,0,0,0,0
6,=7,University of Alberta,https://www.timeshighereducation.com/world-uni...,Canada,9.0,99.4,2.0,89.2,15.0,91.0,94.4,96.4,0,0,0,0,0,0,0,0
7,=7,RMIT University,https://www.timeshighereducation.com/world-uni...,Australia,10.0,92.1,8.0,83.7,11.0,87.4,98.5,96.4,0,0,0,0,0,0,0,0
8,=9,Aalborg University,https://www.timeshighereducation.com/world-uni...,Denmark,4.0,90.6,10.0,90.2,14.0,93.4,98.5,95.8,0,0,0,0,0,0,0,0
9,=9,University of Victoria,https://www.timeshighereducation.com/world-uni...,Canada,11.0,91.8,13.0,89.4,12.0,88.4,91.9,95.8,0,0,0,0,0,0,0,0

In [450]:
shanghaiRanking.head(10)

,Ranking,University Name,National/Regional Rank,Total Score,LOGO,University Detail,Ranking by Score
0,1,Harvard University,1,100.0,http://www.shanghairanking.com/_uni/logo/032bd...,http://www.shanghairanking.com/institution/har...,1
1,2,Stanford University,2,76.8,http://www.shanghairanking.com/_uni/logo/13de8...,http://www.shanghairanking.com/institution/sta...,2
2,3,Massachusetts Institute of Technology (MIT),3,70.1,http://www.shanghairanking.com/_uni/logo/79165...,http://www.shanghairanking.com/institution/mas...,3
3,4,University of Cambridge,1,69.6,http://www.shanghairanking.com/_uni/logo/8d986...,http://www.shanghairanking.com/institution/uni...,4
4,5,"University of California, Berkeley",4,65.3,http://www.shanghairanking.com/_uni/logo/0ff17...,http://www.shanghairanking.com/institution/uni...,5
5,6,Princeton University,5,60.0,http://www.shanghairanking.com/_uni/logo/b1dad...,http://www.shanghairanking.com/institution/pri...,6
6,7,University of Oxford,2,58.7,http://www.shanghairanking.com/_uni/logo/c1d96...,http://www.shanghairanking.com/institution/uni...,7
7,8,Columbia University,6,57.2,http://www.shanghairanking.com/_uni/logo/ce342...,http://www.shanghairanking.com/institution/col...,8
8,9,California Institute of Technology,7,56.1,http://www.shanghairanking.com/_uni/logo/c956f...,http://www.shanghairanking.com/institution/cal...,9
9,10,University of Chicago,8,55.1,http://www.shanghairanking.com/_uni/logo/b4f6e...,http://www.shanghairanking.com/institution/uni...,10

In [489]:
word_top10 = WordRankUniversity[['University Names','Score']].head(10)
times_higher_top10 = TimesHigher[['University Name ','scores']].head(10)
shanghai_top10 = shanghaiRanking[['University Name','Total Score']].head(10)

word_top10 = word_top10.rename(columns={"University Names": "University", "Score": "Word Rank Score"})
times_higher_top10 = times_higher_top10.rename(columns={"University Name ": "University", "scores": "Times Higher Score"})
shanghai_top10 = shanghai_top10.rename(columns={"University Name": "University", "Total Score": "Shanghai Score"})

merged_df = word_top10.merge(times_higher_top10, on="University", how="outer").merge(shanghai_top10, on="University", how="outer")

merged_df.fillna(merged_df.median(numeric_only=True), inplace=True)

merged_df["Avg Score"] = merged_df[['Word Rank Score', 'Times Higher Score', 'Shanghai Score']].mean(axis=1)

top_10_global = merged_df.sort_values(by="Avg Score", ascending=False).head(10)
top_10_global

C:\Users\user\AppData\Local\Temp\ipykernel_52176\1129058160.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  merged_df["Avg Score"] = merged_df[['Word Rank Score', 'Times Higher Score', 'Shanghai Score']].mean(axis=1)

,University,Word Rank Score,Times Higher Score,Shanghai Score,Avg Score
20,Harvard University,92.95,NaN,100.00,96.475
21,Stanford University,92.95,NaN,76.80,84.875
22,Massachusetts Institute of Technology (MIT),92.95,NaN,70.10,81.525
0,Harvard University\n CWUR Rating System: Ed...,100.00,NaN,62.65,81.325
23,University of Cambridge,92.95,NaN,69.60,81.275
1,Massachusetts Institute of Technology\n Educa...,96.70,NaN,62.65,79.675
24,"University of California, Berkeley",92.95,NaN,65.30,79.125
2,Stanford University\n Education: A+; Employab...,95.20,NaN,62.65,78.925
3,University of Cambridge\n Education: A+; Empl...,94.10,NaN,62.65,78.375
4,University of Oxford\n Education: A+; Employa...,93.30,NaN,62.65,77.975

In [33]:
# go to clean them

In [3]:
# check outliers

**What is an Outlier?** 
Outlier is an row/observation that appears far away and diverges from an overall pattern in a sample.

**What are the types of Outliers?**
1. Univariate: These outliers can be found when we look at distribution of a single variable
2. Multivariate: are outliers in an n-dimensional space. In order to find them, you have to look at distributions in multi-dimensions. example (hight=100, weight=100) for a person

**What causes Outliers?**
Whenever we come across outliers, the ideal way to tackle them is to find out the reason of having these outliers. The method to deal with them would then depend on the reason of their occurrence.

Let’s understand various types of outliers:

1. Data Entry Errors:- Human errors such as errors caused during data collection, recording, or entry can cause outliers in data.
2. Measurement Error: It is the most common source of outliers. This is caused when the measurement instrument used turns out to be faulty.
3. Data Processing Error: Whenever we perform data mining, we extract data from multiple sources. It is possible that some manipulation or extraction errors may lead to outliers in the dataset.
4. Sampling error: For instance, we have to measure the height of athletes. By mistake, we include a few basketball players in the sample. This inclusion is likely to cause outliers in the dataset.
5. Natural Outlier: When an outlier is not artificial (due to error), it is a natural outlier. For instance: In my last assignment with one of the renowned insurance company, I noticed that the performance of top 50 financial advisors was far higher than rest of the population. Surprisingly, it was not due to any error. Hence, whenever we perform any data mining activity with advisors, we used to treat this segment separately.


**What is the impact of Outliers on a dataset?**


![image.png](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Outlier_31.png)



**How to detect Outliers?**

1. Most commonly used method to detect outliers is visualization (Univariate Graphical Analysis).

We use 3 common visualization methods:
>- Box-plot: A box plot is a method for graphically depicting groups of numerical data through their quartiles. The box extends from the Q1 to Q3 quartile values of the data, with a line at the median (Q2). The whiskers extend from the edges of the box to show the range of the data. Outlier points are those past the end of the whiskers. Box plots show robust measures of location and spread as well as providing information about symmetry and outliers.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:698/format:webp/1*VK5iHA2AB28HSZwWwUbNYg.png)
>
>
>- Histogram
>- Scatter Plot: A scatter plot is a mathematical diagram using Cartesian coordinates to display values for two variables for a set of data. The data are displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. The points that are far from the population can be termed as an outlier.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Ov6aH-8yIwNoUxtMFwgx4g.png)
>
>

2. Using statistical method (Univariate Non-Graphical analysis):
>- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR
 
![image.png](https://www.whatissixsigma.net/wp-content/uploads/2015/07/Box-Plot-Diagram-to-identify-Outliers-figure-1.png)

>- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier
>- Data points, three or more standard deviation away from mean are considered outlier: The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured. While calculating the Z-score we re-scale and center the data and look for data points that are too far from zero. These data points which are way too far from zero will be treated as the outliers. In most of the cases, a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.
> - Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding

In [23]:
# go to univariate graphical analysis
# go to lesson : data visualisation 1 - chart type section
# then go to univariate graphical analysis
# detect outliers using graphs varbaly

In [24]:
# go to lesson: statistics 1 then statistics 3
# then go to univariate Non graphical analysis
# detect outliers using numerical statistics

In [25]:
# go to delete ouliers

## 2. Data Cleaning: 

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

**Why my data has missing values?**
They may occur at two stages:
1. Data Extraction: It is possible that there are problems with extraction process. Errors at data extraction stage are typically easy to find and can be corrected easily as well.
2. Data collection: These errors occur at time of data collection and are harder to correct.

**Why do we need to handle the missing data?**
To avoid:
- Bias the conclusions.
- Leading the business to make wrong decisions.

**Which are the methods to treat missing values ?**
1. Deletion: we delete rows where any of the variable is missing. Simplicity is one of the major advantage of this method, but this method reduces the power of model because it reduces the sample size.

2. Imputation: is a method to fill in the missing values with estimated ones. This imputation is one of the most frequently used methods.

    2.1. Mean/ Mode/ Median Imputation: It consists of replacing the missing data for a given attribute by the mean or median (quantitative attribute) or mode (qualitative attribute) of all known values of that variable.
    > It can be of two types:
    > - Generalized Imputation: In this case, we calculate the mean or median for all non missing values of that variable then replace missing value with mean or median.
    > - Similar case Imputation: In this case, we calculate average for each group individually of non missing values then replace the missing value based on the group.

    2.2. Constant Value
   
    2.3. Forward Filling
   
    2.4. Backward Filling

6. Prediction Model:  Prediction model is one of the sophisticated method for handling missing data. Here, we create a predictive model to estimate values that will substitute the missing data.  In this case, we divide our data set into two sets: One set with no missing values for the variable and another one with missing values. First data set become training data set of the model while second data set with missing values is test data set and variable with missing values is treated as target variable. Next, we create a model to predict target variable based on other attributes of the training data set and populate missing values of test data set.

> There are 2 drawbacks for this approach:
> - The model estimated values are usually more well-behaved than the true values
> - If there are no relationships with attributes in the data set and the attribute with missing values, then the model will not be precise for estimating missing values.

9. KNN Imputation: In this method of imputation, the missing values of an attribute are imputed using the given number of attributes that are most similar to the attribute whose values are missing. The similarity of two attributes is determined using a distance function. It is also known to have certain advantage & disadvantages.

   > **Advantages:**
   > - k-nearest neighbour can predict both qualitative & quantitative attributes
   > - Creation of predictive model for each attribute with missing data is not required
   > - Attributes with multiple missing values can be easily treated
   > - Correlation structure of the data is taken into consideration

   > **Disadvantage:**
   > - KNN algorithm is very time-consuming in analyzing large database. It searches through all the dataset looking for the most similar instances.
   > - Choice of k-value is very critical. Higher value of k would include attributes which are significantly different from what we need whereas lower value of k implies missing out of significant attributes.

--------------------

In [80]:
# go back to 6th dimention --> Completeness

### Correcting errors

-------------------

In [ ]:
# go back to 7th dimension Accuracy

### Dealing with outliers:

**How to remove Outliers?**
Most of the ways to deal with outliers are similar to the methods of missing values like deleting rows, transforming them, binning them, treat them as a separate group, imputing values and other statistical methods. Here, we will discuss the common techniques used to deal with outliers:

1. Deleting rows: We delete outlier values if it is due to data entry error, data processing error or outlier rows are very small in numbers. We can also use trimming at both ends to remove outliers.

2. Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier rows and after that we can impute it with predicted values.

3. Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

## 3. Univariate Analysis: 

This involves examining single variables to understand their characteristics (distribution, central tendency, dispersion, and shape).

We calculate **numerical values** about the data that tells us about the distribution of the data. We also **draw graphs** showing visually how the data is distributed. **To answer the following questions about Features/characteristics of Data:**
- Where is the center of the data? (location)
- How much does the data vary? (scale)
- What is the shape of the data? (shape)

**The benefits of this analysis:**
Statistics summary gives a high-level idea to identify whether the data has any outliers, data entry error, distribution of data such as the data is normally distributed or left/right skewed

**In this step, we will explore variables one by one using following approaches:**

### 1. Univariate Graphical Analysis:
Method to perform uni-variate analysis will depend on whether the variable type is categorical or numerical.

#### I. Categorical Variables:

we’ll use frequency table to understand distribution of each category
- Bar Chart (Ordinal) - Orderd
- Pie Chart (Nominal) - non Orderd

#### II. Numerical Variables:

we need to understand the central tendency and spread of the variable (Descriptive Analysis) using:
   - Box plot
   - Histogram

### 2. Univariate Non-Graphical analysis: 

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart| 


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.